<div style="width:1000px; margin:0 auto; text-align:center;">
	<% @tables.each do |table| %>
		<a href="/admin/table/<%=table%>" style="display:inline-block; background-color:#e6b621; color:white; text-decoration:none; padding:8px;"><%=table%></a>
	<% end %>
	<p style="margin:0 auto; padding:200px 0;">
	어드민 페이지 입니다. 각 항목을 눌러 data를 확인해주세요.
	</p>

</div>

