<div style="position: fixed; top: 0; left: 0; display: table; width: 100%; height: 100%; background-color: #333; z-index: -1;">
  <div style="display: table-cell; text-align: center; vertical-align: middle;">
    <span style="color: #fff; font-size: 10vw;">권한이 없습니다</span>
  </div>
</div>
