<script type="text/template" id="collectionsTemplate">
  <div class="container top" ontouchmove="return false;">
    <span class="header_title vaskit" onclick="$(this).scroll_to(0); set_recent_asks();"></span>
  </div>
  <div class="container main" ontouchstart="removeIOSRubberEffect($(this));" onscroll="endless_loading($(this), 'collections');" url="/collections">
    <div id="recent_asks_seg"></div>
    <div id="video_asks_seg"></div>
    <div id="collections_seg">
      <div class="loading_icon" page="2" loading="true"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
  </div>
</script>

<script>
  var collectionsTemplate = _.template($("#collectionsTemplate").html());
</script>

<%= render partial: "home/main/seg1/recent_asks" %>
<%= render partial: "home/main/seg1/collections" %>
<%= render partial: "home/main/seg1/videos" %>
