<%= render :partial => "common_partial/header" %>
<%= render :partial => "common_partial/search" %>
<%= render :partial => "common_partial/category" %>

<div style="background-color:#fff; border-top:2px solid #9e9fa1;">
	<img src="/images/common/no_results.png" style="width:50px; display:block; margin:0 auto; margin-top:50px;" />
	<p style="margin:0; padding:14px 0 50px 0; color:#383838; font-size:18px;">
		검색 결과가 없습니다.
	</p>
	
</div>
