<%= render :partial => "common_partial/header_1", :locals => {:title => "No Result!"}  %>

<div style="position:relative; background-color:#fff; margin-bottom:-10px; padding-top:100px;">
	<div style="position:relative; padding-top:50px; padding-bottom:50px;">
		<i class="fa fa-exclamation-triangle" style="display:block; padding:5px; color:#ee6e01; font-size:150px; text-shadow:0px 0px 30px #ffcc5a;"></i>
		<div style="position:relative; display:inline-block; margin:0; padding:15px 30px; color:#4b3d3d; font-size:18px; font-weight:bold; background-color:#ffe4a9; border-width:1px 3px 3px 1px; border-style:solid; border-color:#ffcc5a; border-radius:0 3px 0 3px;">
			크흐! 애석하게도<br>
			조건에 맞는 결과가 없군요.<br>
			<br>
  		아직 걸음마 수준입니다.<br>
			VASKIT 많이 아껴주세요.
		</div>
	</div>
 	<div style="position:relative; width:100%; height:200px; background:#ffcc5a; margin-top:120px;">
		<img class="cover" src="/images/landing/cover.png" style="position:absolute; left:50%; bottom:-2px; margin-left:-150px; max-height:300px;">
	</div>
	<div style="background-color:#fff; width:100%; height:5px;"></div>
</div>
