<%= render :partial => "common_partial/header_3" %>

<div style="background-color:#fff;">
	<img src="/images/common/no_results.png" style="width:50px; display:block; margin:0 auto; padding-top:50px;" />
	<p style="margin:0; padding:14px 0 50px 0; color:#383838; font-size:18px;">
		결과가 없습니다.
	</p>

</div>
