<div id="footer">
	<table style="position: relative;width: 100%;background-color: #fff;border: 3px solid #998674;border-bottom-width: 1px;border-radius: 5px 5px 0 0;overflow: hidden;font-size: 13px;text-align: center;padding-top: 5px;padding-bottom: 5px;">
		<tr>
      <td style="width:25%;">
				<a href="http://blog.naver.com/vaskit" target="_blank" style="color: #998674; display: block;">
					<i class="fa fa-child"></i>
				  <br>About Us
				</a>
      </td>
    	<td style="width:25%">
				<a href="#" onclick="window.open('/etc/inquiry', 'VASKIT Contact Us', 'width=500, height=450'); return false;" style="color: #998674; display: block;">
					<i class="fa fa-phone"></i>
					<br>Contact Us
				</a>
      </td>
			<td style="width:25%">
				<a href="#" onclick="window.open('/etc/privacy_policy', 'VASKIT 개인정보취급정책', 'width=500, height=800'); return false;" style="color: #998674; display: block;">
					<i class="fa fa-align-left"></i>
					<br>Terms
				</a>
      </td>
			<td style="width:25%">
				<a href="#" onclick="window.open('/etc/help', 'VASKIT FAQ & Help', 'width=500, height=800'); return false;" style="color: #998674; display: block;">
					<i class="fa fa-question-circle"></i>
					<br>Help
				</a>
      </td>
		</tr>
	</table>
	<div id="footer_seg" class="table_div" style="margin-bottom: 0; background-color: #fff; border-width: 0 3px; border-style: solid; border-color: #998674;"></div>
</div>
