<div id="footer">
	<table style="position: relative;width: 100%;background-color: #fff;border: 3px solid #998674;border-bottom-width: 1px;border-radius: 5px 5px 0 0;overflow: hidden;font-size: 13px;text-align: center;padding-top: 5px;padding-bottom: 5px;">
		<tr>
      <td style="width:25%;">
				<a href="#" onclick="notify('준비중입니다.'); return false;" style="color: #998674; display: block;">
					<i class="fa fa-child"></i>
				  <br>About Us
				</a>
      </td>
    	<td style="width:25%">
				<a href="/etc/inquiry" style="color: #998674; display: block;">
					<i class="fa fa-phone"></i>
					<br>Contact Us
				</a>
      </td>
			<td style="width:25%">
				<a href="#" onclick="notify('준비중입니다.'); return false;" style="color: #998674; display: block;">
					<i class="fa fa-align-left"></i>
					<br>Terms
				</a>
      </td>
			<td style="width:25%">
				<a href="#" onclick="notify('준비중입니다.'); return false;" style="color: #998674; display: block;">
					<i class="fa fa-question-circle"></i>
					<br>Help
				</a>
      </td>
		</tr>
	</table>
	<div id="footer_seg" class="table_div" style="margin-bottom: 0; background-color: #fff; border-width: 0 3px; border-style: solid; border-color: #998674;"></div>
</div>

<script type="text/template" id="footer_seg_template_1">
	ABOUT US
</script>
<script type="text/template" id="footer_seg_template_2">
	CONTACT US
</script>
<script type="text/template" id="footer_seg_template_3">
	TERMS
</script>
<script type="text/template" id="footer_seg_template_4">
	HELP
</script>


<script>
	function footer_menu_on(index) {
		var footerSegTemplate = _.template($('#footer_seg_template_'+index).html());
		$("#footer_seg").html(footerSegTemplate());
	}
</script>
