<div style="position: fixed;bottom: 0;left: 50%;margin-left: -150px;padding: 12px;width: 300px; box-sizing: border-box;background-color: #fff;z-index: 11;border-radius: 5px 5px 0 0;font-size: 13px;font-weight: bold;border: 3px solid #998674;border-bottom: none;">
	<table style="width: 100%;">
    <tr>
      <td style="width:25%;">
				<a href="#" onclick="alert('준비중입니다.')" style="color: #998674;"><span style="" class="footer_icon">
				  <i class="fa fa-child"></i></span>
				  <span>ABOUT US</span>
				</a>
      </td>
    	<td style="width:25%">
				<a href="/etc/inquiry" style="color: #998674;"><span style="" class="footer_icon">
				  <i class="fa fa-phone"></i></span>
					<span>CONTACT</span></a>
      </td>
			<td style="width:25%">
				<a href="#" onclick="alert('준비중입니다.')" style="color: #998674;"><span style="" class="footer_icon">
				  <i class="fa fa-align-left"></i></span>
					<span>이용약관</span>
				</a>
      </td>
			<td style="width:25%">
				<a href="#" onclick="alert('준비중입니다.')" style="color: #998674;"><span style="" class="footer_icon">
				  <i class="fa fa-question-circle"></i></span>
					<span>FAQ</span>
				</a>
      </td>
		</tr>
	</table>
</div>
