<div style="width:100%;">
	<table class="header_shadow" cellspacing="0" cellpadding="0" style="background-color:#998675; width:100%; overflow:visible; height:47px;">
		<tr>
			<td style="width:40px;">
				<a href="#" onclick="back_button(); return false;"><img style="width:18px; padding:0px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/common/back_on.png" /></a>
			</td>
			<td style="text-align:center;">
				<span style="display:block; font-size:20px; color:#FFFFFF; font-weight:bold; margin:0 auto; margin-top:3px;"><%= title %></span>	
			</td>
			<td style="width:40px;">
			</td>
		</tr>
	</table>
</div>

