<table class="main_header" cellspacing="0" cellpadding="0" style="position:fixed; top:0; width:inherit; overflow:visible; height:50px; z-index:10; background-color:#4b3d3d; border-top:2px solid #ee6e01;">
	<tr>
		<td style="width:60px;">
		  <% if flash[:redirect_url] %>
        <a href="<%= flash[:redirect_url] %>"><img style="width:18px; padding:0px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/backward_btn.png" /></a>
      <% else %>
        <a href="#" onclick="back_button(); return false;"><img style="width:18px; padding:0px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/backward_btn.png" /></a>
      <% end %>
		</td>
		<td style="text-align:center;">
			<% if title == "logo" %>
				<a href="/"><img src="/images/etc/logo_1.png" style="width:130px; margin-bottom:-5px;"/></a>
			<% else %>
				<span style="display:block; font-size:20px; color:#FFFFFF; margin:0 auto; margin-top:3px;"><%= title %></span>
			<% end %>
		</td>
		<td style="width:60px;">
		</td>
	</tr>
</table>
<div id="menu_pc_bg" onclick="search_input_off(); return false;" style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:1; display:none;"></div>
<div id="menu_bg" onclick="search_input_off(); return false;" style="position:fixed; top:0; width:inherit; height:100%; background-color:#000; z-index:8; opacity:0.6; display:none;"></div>
