<table class="main_header header_shadow" cellspacing="0" cellpadding="0" style="position:fixed; top:0; background-color:#4b3d3d; width:inherit; overflow:visible; height:47px; z-index:10;">
	<tr>
		<td style="width:60px;">
			<a href="#" onclick="category_on(); return false;"><img style="width:26px; padding:12px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/menu_on.png" /></a>
		</td>
		<td style="text-align:center;">
			<a href="/" style="display:block; font-size:28px; color:#FFFFFF; font-weight:bold; margin:0 auto; margin-top:3px;">
				<img src="/images/etc/logo_1.png" style="width:130px; margin-bottom:-1px;"/>
			</a>
		</td>
		<td style="width:60px;">
			<% if current_user %>
				<a href="/<%=current_user.string_id%>" style="position:relative; display:block;">
					<% unless Alram.where(:user_id => current_user.id, :is_read => false).blank? %>
						<img src="/images/common/new.png" style="position:absolute; top:0px; right:14px; width:16px;"/>
					<% end %>
					<img style="width:48px; padding:0 4px; display:block;" src="/images/header/my.png" />
				</a>
			<% else %>
				<a href="/etc/landing"><img style="width:50px; padding:3px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/login.png" /></a>
			<% end %>
		</td>
	</tr>
</table>
<div id="search_bar">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td onclick="search_input_on(); return false;" style="width:100%; padding:15px 12px;">
				<p style="position:relative; margin:0; width:100%; height:38px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; background-color:#fff; border:1px solid #dbdbdb; border-right-width:3px; border-bottom-width:3px;">
					<span style="position:absolute; right:3px; padding:7px;"><i class="fa fa-search" style="color:#9d9ea1; font-size:18px;"></i></span>
				</p>
			</td>
		</tr>
	</table>
</div>
<% if @asks %>
<p style="margin:3px 0; padding:0px 18px; color:#9d9ea0; font-size:13px; text-align:left;">
	이미지를 클릭해 투표에 참여해보세요!
</p>
<% end %>
