<table id="main_header" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width:60px;">
			<a href="#" onclick="category_on(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-left:10px;"><i class="fa fa-filter" style="color: #fff; font-size: 26px; padding-top: 12px;"></i></a>
		</td>
		<td style="width:100%;">
			<a href="/" style="display:inline-block; margin-top:4px; padding:5px;">
				<img src="/images/etc/logo_1.png" style="height:25px;"/>
			</a>
		</td>
		<td style="width:60px;">
			<% if current_user %>
				<a href="#" onclick="user_on(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-right:10px;">
					<i class="fa fa-user" style="color: #fff; font-size: 30px; padding-top: 12px;"></i>
					<span style="position: absolute; bottom: 11px; right: 28px; color: #4b3d3d; font-size: 10px; font-weight: bold;">my</span>
					<% if Alram.where(:user_id => current_user.id, :is_read => false).blank? %>
						<span id="new_alram_icon" style="position:absolute; top:9px; right:10px; width:10px; height:10px; line-height:10px; text-align:center; background-color:#ee6e01; border-radius:10px; font-size:10px; font-weight:bold; color:#fff; padding:3px 2px 1px; transition:transform .5s; transform:scale(0);"></span>
					<% else %>
						<span id="new_alram_icon" style="position:absolute; top:9px; right:10px; width:10px; height:10px; line-height:10px; text-align:center; background-color:#ee6e01; border-radius:10px; font-size:10px; font-weight:bold; color:#fff; padding:3px 2px 1px; transition:transform .5s; transform:scale(1);"></span>
					<% end %>
				</a>
			<% else %>
				<a href="/etc/landing" style="display: block; box-sizing: border-box; width: 60px; height: 50px; padding-top: 14px; padding-right: 10px;">
					<p style="color:#fff;margin: 0 auto;padding: 2px 4px;border: 2px solid #fff;border-radius: 5px;font-size: 12px;font-weight: bold;box-sizing: border-box;display: inline-block;">Login</p>
				</a>
			<% end %>
		</td>
	</tr>
</table>
<% unless title.blank? %>
	<p style="box-sizing:border-box; height:40px; margin:0; padding:2px 10px 0px; font-size:16px; font-weight:bold; color:#fff; background-color:#998674; text-align:center; line-height:40px;"><%= title %></p>
<% end %>
<div id="menu_pc_bg"></div>
<div id="menu_bg"></div>
<%= render :partial => "common_partial/user" %>

<script>
	var index_pathname = /^\/$/;
	if ( index_pathname.test(window.location.pathname) ) {
		$("#main_header tr td:eq(0)").html('<a href="#" onclick="category_on(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-left:10px;"><i class="fa fa-filter" style="color: #fff; font-size: 26px; padding-top: 12px;"></i></a>');
	} else {
		$("#main_header tr td:eq(0)").html('<a href="#" onclick="back_button(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-left:10px;"><i class="fa fa-angle-left" style="color: #fff; font-size: 40px; padding-top: 3px;"></i></a>');
	};

	// AJS추가 : 유저 알림 정보 불러오기
	function alram_check() {
	  $.ajax({
	    url: "/users/alram_check.json",
	    type: "GET",
	    data: {},
	    dataType: 'json',
	    error: function(){
	      return false;
	    },
	    success: function(data){
				var alram_count = data.alram_count > 15 ? "15+" : data.alram_count;
				data.alram_count > 0 ? $("#new_alram_icon").css("transform","scale(1)").text(alram_count) : $("#new_alram_icon").css("transform","scale(0)").text("");
	    },
	    beforeSend: function(){
	    },
	    complete: function(){
	    }
	  });
	}
	alram_check();
	setInterval("alram_check()", 60000);

</script>
