<table class="main_header header_shadow" cellspacing="0" cellpadding="0" style="position:fixed; top:0; background-color:#4b3d3d; width:inherit; overflow:visible; height:47px; z-index:1;">
	<tr>
		<td style="width:60px;">
			<a href="#" onclick="category_on(); return false;"><img style="width:26px; padding:12px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/menu_on.png" /></a>
		</td>
		<td style="text-align:center;">
			<a href="/" style="display:block; font-size:28px; color:#FFFFFF; font-weight:bold; margin:0 auto; margin-top:3px;">VASKIT</a>	
		</td>
		<td style="width:60px;">
			<% if current_user %>
				<a href="/<%=current_user.string_id%>"><img style="width:48px; padding:0 4px; margin-bottom:-1px;" src="/images/header/my.png" /></a>
			<% else %>
				<a href="/"><img style="width:50px; padding:3px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/login.png" /></a>
			<% end %>
		</td>
	</tr>
</table>
<div style="width:100%; margin-top:47px;">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td onclick="search_input_on(); return false;" style="width:100%; position:relative; padding:8px 14px 9px 14px;">
				<p style="margin:0; width:100%; height:32px; background-color:#fff; border:1px solid #dbdbdb"></p>
				<span style="position:absolute; right:14px; top:9px;"><img style="width:20px; padding:6px;" src="/images/header/search.png"></span>
			</td>
		</tr>
	</table>
	<div style="padding:0 10px; color:#9d9ea0; font-size:13px; text-align:left;">
		이미지를 클릭해 투표에 참여해보세요!
	</div>
</div>

