<table id="main_header" cellspacing="0" cellpadding="0">
	<tr>
		<td style="width:60px;">
			<% if flash[:redirect_url] %>
        <a href="<%= flash[:redirect_url] %>" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-left:10px;"><i class="fa fa-angle-left" style="color: #fff; font-size: 40px; padding-top: 3px;"></i></a>
      <% else %>
        <a href="#" onclick="back_button(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-left:10px;"><i class="fa fa-angle-left" style="color: #fff; font-size: 40px; padding-top: 3px;"></i></a>
      <% end %>
		</td>
		<td style="width:100%;">
			<a href="/" style="display:inline-block; margin-top:4px; padding:5px;">
				<img src="/images/etc/logo_1.png" style="height:25px;"/>
			</a>
		</td>
		<td style="width:60px;">
			<% if current_user %>
				<a href="#" onclick="user_on(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-right:10px;">
					<i class="fa fa-user" style="color: #fff; font-size: 30px; padding-top: 12px;"></i>
					<span style="position: absolute; bottom: 11px; right: 28px; color: #4b3d3d; font-size: 10px; font-weight: bold;">my</span>
					<% unless Alram.where(:user_id => current_user.id, :is_read => false).blank? %>
						<img src="/images/header/new.png" style="position:absolute; top:7px; right:9px; width:14px;"/>
					<% end %>
				</a>
			<% else %>
				<a href="/etc/landing" style="display: block; box-sizing: border-box; width: 60px; height: 50px; padding-top: 14px; padding-right: 10px;">
					<p style="color:#fff;margin: 0 auto;padding: 2px 4px;border: 2px solid #fff;border-radius: 5px;font-size: 12px;font-weight: bold;box-sizing: border-box;display: inline-block;">Login</p>
				</a>
			<% end %>
		</td>
	</tr>
</table>
<p style="height:40px; margin:0; padding:0 10px; font-size:18px; font-weight:bold; color:#fff; background-color:#998674; text-align:center; line-height:40px;"><%= title %></p>
<div id="menu_pc_bg"></div>
<div id="menu_bg"></div>
<%= render :partial => "common_partial/user" %>
