<div id="more_popup_bg" href="#" onclick="back_button(); return false;" style="display:block; position:fixed;left:0; top:0; width:100%; height:100%; background-color:black; z-index:12; opacity:0.6; display:none;"></div>
<div id='more_popup' style='width:240px; z-index:13; position:fixed; left:50%; top:50%; margin-left:-120px; margin-top:-100px; overflow-y:hidden; overflow-x:hidden; display:none;'>
	<a href="#" onclick="back_button(); return false;" style="position:absolute; right:0; top:0; width:40px; height:40px;"><span style="display:inline-block; color:#fff; font-size:28px; padding-top:5px;">&times;</span></a>
	<p id="more_title" style="background-color:#4b3d3d; font-size:15px; color:#fff; height:40px; line-height:42px; margin:0;">MENU</p>
	<div id="more_popup_sub">
		<div style="background-color:#f4f4f4; border-bottom:1px solid #dbdbdb;">
			<div style="padding-top:16px;">
				<span onclick="share_facebook(); return false;" style="display:inline-block; width:60px; height:60px; line-height:75px; background-color:#4267b2; color:#fff; border-radius:10px; margin-right:5px; vertical-align:top; cursor:pointer;" onclick="copy_url();"><i class="fa fa-facebook" style="font-size:30px;"></i></span>
				<span id="share_katalk_btn" style="display:inline-block; width:60px; height:60px; line-height:70px; background-color:#fae100; color:#fff; border-radius:10px; margin:0px; vertical-align:top; cursor:pointer;" onclick="copy_url();">
					<img src="http://vaskit.kr/images/logo/sns_kakaotalk.png" alt="" style="width:38px; margin:13px auto 0px;">
				</span>
				<span style="display:inline-block; width:60px; height:60px; line-height:70px; background-color:#9d9ea1; color:#fff; border-radius:10px; margin-left:5px; vertical-align:top; cursor:pointer;" onclick="copy_url();"><i class="fa fa-link" style="font-size:24px;"></i></span>
			</div>
      <p style="color:#666; font-size:13px; margin:0; padding:13px 0;">흥미로운 질문을 공유해보세요</p>
		</div>
		<a id="ask_edit_btn" href="#" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px;">수정하기</a>
		<a id="ask_report_btn" href="#" onclick="show_report_popup(); return false;" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px;">신고하기</a>
		<a id="vote_modify_btn" href="#" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px;">투표 실행취소</a>
		<a id="ask_complete_btn" href="#" style="display:block; background:#f4f4f4; line-height:50px; color:#666; font-size:13px;">질문 종료하기</a>
	</div>
	<div id="more_popup_report" style="text-align:left; display:none;">
		<a id="report_btn_1" href="#"  onclick="set_report_type(1); return false;" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 구매결정과는 무관한 내용이군요
		</a>
		<a id="report_btn_2" href="#" onclick="set_report_type(2); return false;" style="display:block; background:#f4f4f4; line-height:50px; border-bottom:1px solid #dbdbdb; color:#666; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 광고성, 홍보성이 짙은 내용이군요
		</a>
		<a id="report_btn_3" href="#"  onclick="set_report_type(3); return false;" style="display:block; background:#f4f4f4; line-height:50px; color:#666; border-bottom:1px solid #dbdbdb; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 비윤리적인 내용은 보고싶지 않아요
		</a>
 		<div style="background:#f4f4f4; line-height:20px; padding:12px 12px 8px 12px;">
			<a id="report_btn_4" href="#" onclick="set_report_type(4); return false;" style="display:block; color:#666; font-size:13px; margin-bottom:5px;">
				<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 직접 입력하겠어요
			</a>
			<textarea placeholder="선택 후 입력 가능합니다" class="ask_message_input" name="ask[report]" id="ask_report_message" style="padding-left:10px; border-radius:0px; background-color:#fff; font-size:12px;"></textarea>
		</div>
		<a id="report_submit_btn" href="#" onclick="submit_report(); return false;" style="display:block; background:#fff; line-height:40px; color:#383838; border-top:1px solid #dbdbdb; text-align:center; font-size:13px;">
			<i class="fa fa-cab" style="color:#ee6e01;"></i> 신고
		</a>
	</div>
	<input id="share_url" style="position:fixed; top:100%; left:100%;" value="http://vaskit.kr/"/>
</div>

<script>
	var report_type;

	function show_more_popup(target, target_id, ask_user_id, current_user_id, user_string_id, left_deal_title, right_deal_title) {
    history.pushState(null, null, "#more_"+target_id);
    is_more_popup_opened = true;
		overlay_st = $(window).scrollTop();

	  if (target == 'comment'){
	    var already_vote = [];
	  }else{
	    var current_ask = $.grep(asks, function(obj) { return obj.id === target_id })[0];
      var already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === current_ask.id });
	  }

	  if (target == 'comment' || ask_user_id == current_user_id || already_vote.length == 0){
      $("#vote_modify_btn").hide();
	  }else{
	    $("#vote_modify_btn").attr("onclick","vote_modify("+target_id+"); return false;");
	  }

		if (target == 'ask') {
			$("#share_katalk_btn").attr("onclick","share_katalk('"+user_string_id+"','"+left_deal_title+"','"+right_deal_title+"'); return false;")
			$("#share_url").attr("value","http://vaskit.kr/asks/"+target_id);
		}

		if (ask_user_id == current_user_id){
			$("#ask_report_btn").hide();
		}else{
			$("#ask_edit_btn").hide();
			$("#ask_complete_btn").hide();
		}
		$("#ask_edit_btn").attr("onclick","go_url('/asks/"+target_id+"/edit'); return false;");
		$("#report_submit_btn").attr("onclick", "submit_report('"+target+"',"+target_id+"); return false;");
		$("#ask_complete_btn").attr("onclick", "go_url('/asks/"+target_id+"/ask_complete')");

		disableScroll();
		$("#more_popup_bg").show();
		$("#more_popup").show();
	}

	function hide_more_popup(){
    is_more_popup_opened = false;
    window.scrollTo(0,overlay_st);

		enableScroll();
		$("#ask_edit_btn").show();
		$("#ask_report_btn").show();
		$("#vote_modify_btn").show();
		$("#ask_complete_btn").show();
		$("#more_popup_sub").show();
		$("#more_popup_report").hide();
		$("#more_popup_bg").hide();
		$("#more_popup").hide();
		$("#more_title").html("MENU");
		$("#more_popup").css("margin-top", "-100px");
		report_type_reset()
	}

	function share_facebook(){
		if (typeof(FB) != 'undefined' && FB != null ) {
				FB.init({
					appId      : '<%=Facebook::CONFIG["app_id"]%>',
					status     : true,
					xfbml      : true,
					version    : 'v2.5' // or v2.0, v2.1, v2.2, v2.3
				});
		}
		var share_url = $("#share_url").attr("value");
		FB.ui({
			method: 'share',
			href: share_url,
		}, function(response){});
		var ask_id = share_url.replace("http://vaskit.kr/asks/","");
		share_log("facebook", ask_id);
	}

	function share_katalk(user_string_id, left_deal_title, right_deal_title){
		try{
			Kakao.init("91c2c2e69d89a8617cfedd3e61b041ca");
		}catch(err) {
		}

		var share_url = $("#share_url").attr("value");
		var image_url = "http://vaskit.kr/images/logo/share_image.png";
		var label = user_string_id+"님을 도와주세요!\n\n'"+left_deal_title+"' vs '"+right_deal_title+"',\n무엇을 사야 후회하지 않을까요?\n\n결정장애 해결에 도움을 주세요!\n\n"+share_url;
		Kakao.Link.sendTalkLink({
					label: label,
					image: {
						src:  image_url,
						width: '470',
						height: '353'
					},
					webButton: {
						text: "Let's VASKIT!",
						url: share_url
					}
			});
			var ask_id = share_url.replace("http://vaskit.kr/asks/","");
			share_log("katalk", ask_id);
	}

	function copy_url() {
		function copyfieldvalue(e, id){
			if (document.execCommand("copy")) {
				var field = document.getElementById(id);
				field.focus();
				field.setSelectionRange(0, field.value.length);
				document.execCommand("copy");
				notify('주소가 복사되었습니다!');
			} else {
				var share_url = $("#share_url").val();
				prompt('아래의 주소를 복사해주세요!', share_url);
			}
		}

		copyfieldvalue(event, 'share_url');

		var ask_id = $("#share_url").val().replace("http://vaskit.kr/asks/","");
		share_log("url", ask_id);
	}

	function show_report_popup(){
		<% if current_user %>
			$("#more_popup_sub").hide();
			$("#more_popup_report").show();
			$("#more_title").html("신고하기");
			$("#more_popup").css("margin-top", "-190px");
		<% else %>
			visitor_notify("신고접수는 회원만 가능합니다");
		<% end %>
	}

	function set_report_type(report_type_id){
		if(report_type_id != 4){
			$("#ask_report_message").val("");
			$('#ask_report_message').prop('disabled',true);
		}else{
			$('#ask_report_message').prop('disabled',false)
		}
		report_type_reset();
		report_type = report_type_id;
		$("#report_btn_"+report_type_id+" i").removeClass("fa-square").addClass("fa-check-square").css("color","#ee6e01","text-shadow","1px 1px 0 rgba(238,110,1,0.3)");
	}

	function report_type_reset(){
		report_type = null;
		$("#report_btn_1 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_2 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_3 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_4 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
	}

	function submit_report(target, target_id){
		var report_message = $("#ask_report_message").val();
		if (report_type == null){
			notify("신고 항목을 선택해주세요");
			return;
		}else if(report_type == 4 && report_message == ""){
			notify("신고하실 내용을 입력해주세요");
			return;
		}
		$.ajax({
	        url: "/reports.json",
	        type: 'POST',
	        data: {'target': target, 'target_id':target_id, 'report_type':report_type, 'message':$("#ask_report_message").val() },
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	if (data.already_report){
	        		notify("이미 신고하신 항목입니다");
	        	}else{
	        		notify("신고가 정상적으로 접수되었습니다<br>감사합니다!");
	        	}
	        },
	        beforeSend: function(){
						progressStart();
	       		// $(".loading").show();
	        },
	        complete: function(){
						progressEnd();
	        	// $(".loading").hide();
            back_button();
	        }
		});
	}

	function vote_modify(ask_id){
	  var ask = $.grep(asks, function(obj) { return obj.id === ask_id })[0];
	  var change_votes = $.grep(my_votes, function(obj) { return obj.ask_id != ask.id });
	  my_votes = change_votes;
	  var askDealTemplate = _.template($('#ask-deal-template').html())
    $("#ask_deal_"+ask_id).html(askDealTemplate({my_votes: my_votes, ask: ask})).animateCss("flipInX");
    // notify("다시 투표해주세요");

		var vote_count_span = $("#ask_"+ask.id+"_vote_count");
		vote_count_span.html( parseInt(vote_count_span.html()) - 1 + "표" );

		hover_action(ask_id);
    back_button();
	}

</script>
