<div id="more_popup_bg" href="#" onclick="history.back(); return false;" style="display:block; position:fixed;left:0; top:0; width:100%; height:100%; background-color:black; z-index:12; opacity:0.6; display:none;"></div>
<div id='more_popup' style='width:240px; z-index:13; position:fixed; left:50%; top:50%; margin-left:-120px; margin-top:-110px; overflow-y:hidden; overflow-x:hidden; display:none;'>
	<a href="#" onclick="history.back(); return false;" style="position:absolute; right:0; top:0; width:40px; height:40px;"><span style="display:inline-block; color:#fff; font-size:28px; padding-top:5px;">&times;</span></a>
	<p id="more_title" style="background-color:#4b3d3d; font-size:15px; color:#FFF; height:40px; line-height:40px; margin:0;">더보기</p>
	<div id="more_popup_sub">
		<a id="ask_edit_btn" href="#" style="display:block; background:#f4f4f4; line-height:60px; border-bottom:1px solid #dbdbdb; color:#383838; font-size:15px;">수정하기</a>
		<a id="ask_report_btn" href="#" onclick="show_report_popup(); return false;" style="display:block; background:#f4f4f4; line-height:60px; border-bottom:1px solid #dbdbdb; color:#383838; font-size:15px;">신고하기</a>
		<a id="vote_modify_btn" href="#" style="display:block; background:#f4f4f4; line-height:60px; border-bottom:1px solid #dbdbdb; color:#383838; font-size:15px;">투표 실행취소</a>
		<a id="ask_complete_btn" href="#" style="display:block; background:#f4f4f4; line-height:60px; color:#383838; font-size:15px;">질문 종료하기</a>
	</div>
	<div id="more_popup_report" style="text-align:left; display:none;">
		<a id="report_btn_1" href="#"  onclick="set_report_type(1); return false;" style="display:block; background:#f4f4f4; line-height:60px; border-bottom:1px solid #dbdbdb; color:#383838; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 구매결정과는 무관한 내용이군요
		</a>
		<a id="report_btn_2" href="#" onclick="set_report_type(2); return false;" style="display:block; background:#f4f4f4; line-height:60px; border-bottom:1px solid #dbdbdb; color:#383838; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 광고성, 홍보성이 짙은 내용이군요
		</a>
		<a id="report_btn_3" href="#"  onclick="set_report_type(3); return false;" style="display:block; background:#f4f4f4; line-height:60px; color:#383838; border-bottom:1px solid #dbdbdb; font-size:13px; padding-left:12px;">
			<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 비윤리적인 내용은 보고싶지 않아요
		</a>
 		<div style="background:#f4f4f4; line-height:20px; padding:12px 12px 8px 12px;">
			<a id="report_btn_4" href="#" onclick="set_report_type(4); return false;" style="display:block; color:#383838; font-size:13px; margin-bottom:5px;">
				<i class="fa fa-square" style="font-size: 14px; color: #fff; text-shadow: 1px 1px 0 #dbdbdb;"></i> 직접 입력하겠어요
			</a>
			<textarea placeholder="선택 후 입력 가능합니다." class="ask_message_input" name="ask[report]" id="ask_report_message" style="padding-left:10px; border-radius:0px; background-color:#fff; font-size:12px;"></textarea>
		</div>
		<a id="report_submit_btn" href="#" onclick="submit_report(); return false;" style="display:block; background:#fff; line-height:40px; color:#383838; border-top:1px solid #dbdbdb; text-align:center; font-size:13px;">
			<i class="fa fa-cab" style="color:#ee6e01;"></i> 신고
		</a>
	</div>

</div>

<script>
	var report_type;

	function show_more_popup(target, target_id, ask_user_id, current_user_id){
    history.pushState(null, null, "#more_"+target_id);
    is_more_popup_opened = true;
		overlay_st = $(window).scrollTop();

	  if (target == 'comment'){
	    var already_vote = [];
	  }else{
	    var current_ask = $.grep(asks, function(obj) { return obj.id === target_id })[0];
      var already_vote = $.grep(my_votes, function(obj) { return obj.ask_id === current_ask.id });
	  }

	  if (target == 'comment' || ask_user_id == current_user_id || already_vote.length == 0){
      $("#vote_modify_btn").hide();
	  }else{
	    $("#vote_modify_btn").attr("onclick","vote_modify("+target_id+"); return false;");
	  }

		if (ask_user_id == current_user_id){
			$("#ask_report_btn").hide();
		}else{
			$("#ask_edit_btn").hide();
			$("#ask_complete_btn").hide();
		}
		$("#ask_edit_btn").attr("href","/asks/"+target_id+"/edit");
		$("#report_submit_btn").attr("onclick", "submit_report('"+target+"',"+target_id+"); return false;");
		$("#ask_complete_btn").attr("href", "/asks/"+target_id+"/ask_complete");

		disableScroll();
		$("#more_popup_bg").show();
		$("#more_popup").show();
	}

	function hide_more_popup(){
    is_more_popup_opened = false;
    window.scrollTo(0,overlay_st);

		enableScroll();
		$("#ask_edit_btn").show();
		$("#ask_report_btn").show();
		$("#vote_modify_btn").show();
		$("#ask_complete_btn").show();
		$("#more_popup_sub").show();
		$("#more_popup_report").hide();
		$("#more_popup_bg").hide();
		$("#more_popup").hide();
		$("#more_title").html("더보기");
		$("#more_popup").css("margin-top", "-110px");
		report_type_reset()
	}

	function show_report_popup(){
		<% if current_user %>
			$("#more_popup_sub").hide();
			$("#more_popup_report").show();
			$("#more_title").html("신고하기");
			$("#more_popup").css("margin-top", "-190px");
		<% else %>
			visitor_notify("회원가입 후<br>신고를 제출할 수 있습니다");
		<% end %>
	}

	function set_report_type(report_type_id){
		if(report_type_id != 4){
			$("#ask_report_message").val("");
			$('#ask_report_message').prop('disabled',true);
		}else{
			$('#ask_report_message').prop('disabled',false)
		}
		report_type_reset();
		report_type = report_type_id;
		$("#report_btn_"+report_type_id+" i").removeClass("fa-square").addClass("fa-check-square").css("color","#ee6e01","text-shadow","1px 1px 0 rgba(238,110,1,0.3)");
	}

	function report_type_reset(){
		report_type = null;
		$("#report_btn_1 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_2 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_3 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
		$("#report_btn_4 i").removeClass("fa-check-square").addClass("fa-square").css("color","#fff","text-shadow","1px 1px 0 #dbdbdb");
	}

	function submit_report(target, target_id){
		var report_message = $("#ask_report_message").val();
		if (report_type == null){
			notify("신고 항목을 선택해주세요");
			return;
		}else if(report_type == 4 && report_message == ""){
			notify("신고 내용을 입력해주세요");
			return;
		}
		$.ajax({
	        url: "/reports.json",
	        type: 'POST',
	        data: {'target': target, 'target_id':target_id, 'report_type':report_type, 'message':$("#ask_report_message").val() },
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	if (data.already_report){
	        		notify("이미 신고했습니다");
	        	}else{
	        		notify("신고 완료되었습니다");
	        	}
	        },
	        beforeSend: function(){
						progressStart();
	       		// $(".loading").show();
	        },
	        complete: function(){
						progressEnd();
	        	// $(".loading").hide();
            history.back();
	        }
		});
	}

	function vote_modify(ask_id){
	  var ask = $.grep(asks, function(obj) { return obj.id === ask_id })[0];
	  var change_votes = $.grep(my_votes, function(obj) { return obj.ask_id != ask.id });
	  my_votes = change_votes;
	  var askDealTemplate = _.template($('#ask-deal-template').html())
    $("#ask_deal_"+ask_id).html(askDealTemplate({my_votes: my_votes, ask: ask}));
    notify("다시 투표해주세요");

		var vote_count_span = $("#ask_"+ask.id+"_vote_count");
		vote_count_span.html( parseInt(vote_count_span.html()) - 1 + "표" );

		hover_action(ask_id);
    history.back();
	}

</script>
