<div id="search">
	<div class="search_bar_area">
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			<tr>
				<td onclick="search_input_on(); return false;" style="width:100%; position:relative;">
					<p class="search_bar">
						궁금한 제품을 검색해보세요!
						<span class="search_btn"><i class="fa fa-search" style="display:inline-block; line-height:34px;"></i></span>
					</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<div id="search_overlay">
	<div class="search_bar_area">
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			<tbody>
				<tr>
					<td style="width:100%; position:relative;">
						<input id="search_input" class="search_bar search_on" placeholder="검색어를 입력하세요." type="text"/>
						<a href="#" onclick="search_input_off(); return false;" style="position:absolute; top:0; left:0;"><i class="fa fa-angle-left" style="color:#ee6e01; padding:5px 12px; font-size:26px;"></i></a>
						<a class="search_btn search_on" href="#" onclick="search_by_key(); return false;"><i class="fa fa-search" style="display:inline-block; line-height:34px;"></i></a>
						<a id="keyword_reset_btn" href="#" onclick="keyword_reset(); return false;" style="position:absolute; right:35px; top:1px; display:none;"><i class="fa fa-times-circle" style="color:#9d9ea1; font-size:15px; padding:10px;"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="search_result" style="position:absolute; top:50px; width:100%; max-height:340px; background:#fff; border-top:1px solid #9e9fa1; text-align:left; overflow-y:auto;"></div>
</div>

<script type="text/template" id="search-result-template">
		{{ if(type == "user"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-user"></i>&nbsp;{{= keyword }}
			</a>
		{{ }else if(type == "hash_tag"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-slack" style="transform:rotateY(180deg) skewY(18deg);"></i>&nbsp;{{= keyword }}
			</a>
		{{ }else if(type == "ask_deal"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-cube"></i>&nbsp;{{= keyword }}
			</a>
		{{ }else if(type == "brand"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				<i class="fa fa-tag"></i>&nbsp;{{= keyword }}
			</a>
		{{ } }}
</script>

<script>

	function search_input_on(){
		$("#search").hide();
		$("#search_overlay").show();
		$("#menu_pc_bg").show();
		$("#menu_bg").show();
		$('#search_input').focus().select();
	}

	function search_input_off(){
		enableScroll();
		$("#search").show();
		$("#search_overlay").hide();
		$("#menu_pc_bg").hide();
		$("#menu_bg").hide();
		keyword_reset();
	}

	function keyword_reset(){
		$('#search_input').val("");
		$('#search_result').html("");
		$("#keyword_reset_btn").hide();
		select_num = 0;
	}

	function search_by_key(){
		var search_key = $('#search_input').val();
		if(search_key == "" || search_key == undefined){
			notify("검색어를 입력하세요.");
		} else if ( $("#search_result a").hasClass("search_focus") ) {
			window.location = $("#search_result a.search_focus").attr("href");
		}else {
			window.location = "/?keyword="+encodeURIComponent(search_key)+"&type=none";
		}
	}

	var select_num = 0;
	function navigate_by_key(is_down) {
		if (is_down == true) {
			$("#search_result a").removeClass("search_focus");
			$("#search_result a").eq(select_num).addClass("search_focus");
			var focus_position = $("#search_result a").eq(select_num).position().top;
			var focus_height = $("#search_result a").eq(select_num).outerHeight();
			var list_scrolltop = $("#search_result").scrollTop();
			var list_height = $("#search_result").height();
			if ( list_height + list_scrolltop < focus_position + focus_height )  $("#search_result").scrollTop(focus_position + focus_height - list_height);
			if ( select_num < $("#search_result a").length - 1 ) {
				select_num = select_num + 1;
			} else {
				select_num = 0;
			}
		} else {
			$("#search_result a").removeClass("search_focus");
			if ( select_num > 0 ) {
				select_num = select_num - 1;
			} else {
				select_num = $("#search_result a").length - 1;
			}
			$("#search_result a").eq(select_num).addClass("search_focus");
			var focus_position = $("#search_result a").eq(select_num).position().top;
			var list_scrolltop = $("#search_result").scrollTop();
			if ( list_scrolltop > focus_position )  $("#search_result").scrollTop(focus_position);
		}
	}

	$('#search_input').keyup(function(e) {
		$("#keyword_reset_btn").show();
		if ( $("#search_input").val() == "" ) $("#keyword_reset_btn").hide();
		$.ajax({
	        url: "/search/get_keyword.json",
	        type: 'GET',
	        data: {'keyword': $('#search_input').val() },
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
						if (e.keyCode == '13') {
				    	e.preventDefault();
				    	search_by_key();
				  	} else if (e.keyCode == '27') {
							e.preventDefault();
							keyword_reset();
						} else if (e.keyCode == '40') {
							e.preventDefault();
							navigate_by_key(true);
						} else if (e.keyCode == '38') {
							e.preventDefault();
							navigate_by_key(false);
						} else {
							$('#search_result').html("");
							select_num = 0;

							if (data.is_empty_result){
								if ($('#search_input').val() != ""){
									var empty_span = "<span style='display:block; border-bottom:1px solid #cecfd1; margin:0; padding:16px 0; text-align:center; color:#666; font-size:13px;'>일치하는 검색 결과가 없습니다.</span>";
									$('#search_result').html(empty_span);
								}
							}else{
								var searchResultTemplate = _.template( $('#search-result-template').html() );

								$.each(data.users, function( index, user ) {
									$('#search_result').append(searchResultTemplate({keyword: user.string_id, type: 'user', id: null}));
								});

								$.each(data.hash_tags, function( index, hash_tag ) {
									$('#search_result').append(searchResultTemplate({keyword: hash_tag.keyword, type: 'hash_tag', id: null}));
								});

								if (data.ask_deal){
									$('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'ask_deal', id: null}));
								}

								if (data.brand){
									$('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'brand', id: null}));
								}
								$("#search_result").highlight($('#search_input').val());
							}
						}
	        },
	        beforeSend: function(){
	        },
	        complete: function(){
	        }
		});

	});

	function search_bar_hide(){
		// 스크롤 다운시 검색창 및 질문버튼 숨기기
	  var didScroll;
	  var lastScrollTop = 0;
	  var delta = 5;
		var navbarHeight = $(".search_bar_area").outerHeight();

	  $(window).scroll(function(event){
	      didScroll = true;
	  });

    setInterval(function() {
      if (didScroll) {
        hasScrolled();
        didScroll = false;
      }
    }, 250);

	  function hasScrolled() {
	      var st = $(this).scrollTop();
	      if(Math.abs(lastScrollTop - st) <= delta)
	          return;
	      if (st > lastScrollTop && st > navbarHeight){
					$("#search").animate({"top":"-50px"},300);
					$(".home-float-btn-area").animate({"bottom":"-85px"},300);
	      } else {
	          if(st + $(window).height() < $(document).height() ) {
							$("#search").animate({"top":"50px"},300);
							$(".home-float-btn-area").animate({"bottom":"15px"},300);
	          }
	      }
	      lastScrollTop = st;
	  }
	}

	$(document).ready(function(){
		search_bar_hide();
	})
</script>

<style>
	.search_focus {
		background-color: #f4f4f4;
	}
</style>
