<div id="search_bar" style="padding:12px;">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tr>
			<td onclick="search_input_on(); return false;" style="width:100%; position:relative;">
				<p style="position:relative; margin:0; width:100%; height:38px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; background-color:#fff; border:1px solid #dbdbdb; border-right-width:3px; border-bottom-width:3px;">
				<span style="position:absolute; right:0px; top:0px; padding:8px 8px 6px 10px;"><i class="fa fa-search" style="color:#9d9ea1; font-size:18px;"></i></span></p>
			</td>
		</tr>
	</table>
</div>
<div id="search_overlay" style="width:inherit; position:fixed; top:50px; z-index:13; display:none; background:#f4f4f4; border-bottom:5px solid #4b3d3d;">
	<div id="search_bar_on" style="padding:12px;">
		<table cellspacing="0" cellpadding="0" style="width:100%;">
			<tbody>
				<tr>
					<td style="width:100%; position:relative;">
						<a href="#" onclick="search_input_off(); return false;" style="position:absolute;"><i class="fa fa-angle-left" style="color:#ee6e01; padding:5px 12px; font-size:26px;"></i></a>
						<input id="search_input" placeholder="검색어를 입력하세요." type="text" class="search_input"/>
						<a href="#" onclick="search_by_key(); return false;" style="position:absolute; right:3px; top:1px; padding:8px 8px 6px 10px; background-color:rgba(238,110,1,0.8);"><i class="fa fa-search" style="color:#fff; font-size:18px;"></i></a>
						<a id="keyword_reset_btn" href="#" onclick="keyword_reset(); return false;" style="position:absolute; right:35px; top:1px; display:none;"><i class="fa fa-times-circle" style="color:#9d9ea1; font-size:15px; padding:10px;"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="search_result" style="width:100%; background:#fff; border-top:1px solid #9e9fa1; text-align:left; max-height:340px; overflow-y:auto;"></div>
</div>

<script type="text/template" id="search-result-template">
		{{ if(type == "user"){ }}
			<a href="/?keyword={{=id}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				@ {{= keyword }}
			</a>
		{{ }else if(type == "hash_tag"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				# {{= keyword }}
			</a>
		{{ }else if(type == "ask_deal"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				ⓟ {{= keyword }}
			</a>
		{{ }else if(type == "brand"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				ⓑ {{= keyword }}
			</a>
		{{ } }}
</script>

<script>

	function search_input_on(){
		$("#search_overlay").show();
		$("#menu_pc_bg").show();
		$("#menu_bg").show();
		$('#search_input').focus().select();

		$("#user_overlay").hide();
		$("#category_overlay").hide();
	}

	function search_input_off(){
		enableScroll();
		$("#search_overlay").hide();
		$("#menu_pc_bg").hide();
		$("#menu_bg").hide();
		$('#search_input').val("");
		$("#keyword_reset_btn").hide();
	}

	function keyword_reset(){
		$('#search_input').val("");
		$('#search_result').html("");
		$("#keyword_reset_btn").hide();
	}

	function search_by_key(){
		var search_key = $('#search_input').val();
		if(search_key == "" || search_key == undefined){
			notify("검색어를 입력하세요.");
		}else{
			window.location = "/?keyword="+encodeURIComponent(search_key)+"&type=none";
		}
	}

	$('#search_input').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	search_by_key();
      	}
	});

	$('#search_input').keyup(function(e) {
  	$("#keyword_reset_btn").show();
		$.ajax({
	        url: "/search/get_keyword.json",
	        type: 'GET',
	        data: {'keyword': $('#search_input').val() },
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	$('#search_result').html("");

	        	if (data.is_empty_result){
	        		if ($('#search_input').val() != ""){
	        			var empty_span = "<span style='display:block; border-bottom:1px solid #cecfd1; margin:0; padding:16px 0; text-align:center; color:#666;'>검색 결과가 없습니다.</span>";
	        			$('#search_result').html(empty_span);
	        		}
	        	}else{
	        		var searchResultTemplate = _.template( $('#search-result-template').html() );

		        	$.each(data.users, function( index, user ) {
		        		$('#search_result').append(searchResultTemplate({keyword: user.string_id, type: 'user', id: user.id}));
							});

							$.each(data.hash_tags, function( index, hash_tag ) {
								$('#search_result').append(searchResultTemplate({keyword: hash_tag.keyword, type: 'hash_tag', id: null}));
							});

							if (data.ask_deal){
		            $('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'ask_deal', id: null}));
		          }

							if (data.brand){
								$('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'brand', id: null}));
							}
							$("#search_result").highlight($('#search_input').val());
	        	}
	        },
	        beforeSend: function(){
	        },
	        complete: function(){
	        }
		});

	});
</script>
