<div id="search_pc_bg" onclick="search_input_off(); return false;" style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:1; display:none;"></div>
<div id="search_bg" onclick="search_input_off(); return false;" style="position:fixed; top:0; width:inherit; height:100%; background-color:#000; z-index:12; opacity:0.6; display:none;"></div>
<div id="search_overlay" style="width:inherit; position:fixed; top:50px; z-index:13; display:none; background:#f4f4f4;">
	<table cellspacing="0" cellpadding="0" style="width:100%;">
		<tbody>
			<tr>
				<td>
					<a href="#" onclick="search_input_off(); return false;"><i class="fa fa-angle-left" style="color:#ee6e01; padding:6px 15px; font-size:26px;"></i></a>
				</td>
				<td style="width:100%; position:relative; padding:12px 12px 12px 0;">
					<input id="search_input" placeholder="검색어를 입력하세요." type="text" class="search_input"/>
					<a href="#" onclick="search_by_key(); return false;" style="position:absolute; right:18px; top:13px;"><i class="fa fa-search" style="color:#ee6e01; font-size:18px; padding:7px 7px 9px 7px;"></i></a>
					<a id="keyword_reset_btn" href="#" onclick="keyword_reset(); return false;" style="position:absolute; right:40px; top:13px; display:none;"><i class="fa fa-times-circle" style="color:#9d9ea1; font-size:15px; padding:10px;"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<div id="search_result" style="width:100%; background:#fff; border-top:1px solid #9e9fa1; text-align:left; max-height:340px; overflow-y:auto;"></div>
</div>

<script type="text/template" id="search-result-template">
		{{ if(type == "user"){ }}
			<a href="/?keyword={{=id}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				@ {{= keyword }}
			</a>
		{{ }else if(type == "hash_tag"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				# {{= keyword }}
			</a>
		{{ }else if(type == "ask_deal"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				ⓟ {{= keyword }}
			</a>
		{{ }else if(type == "brand"){ }}
			<a href="/?keyword={{=keyword}}&type={{=type}}" style="display:block; border-bottom:1px solid #cecfd1; margin:0; padding:8px 8px 8px 12px; color:#666;">
				ⓑ {{= keyword }}
			</a>
		{{ } }}
</script>

<script>

	function search_input_on(){
		$("#search_overlay").show();
		$("#search_pc_bg").show();
		$("#search_bg").show();
		$('#search_input').focus().select();
	}

	function search_input_off(){
		$("#search_overlay").hide();
		$("#search_pc_bg").hide();
		$("#search_bg").hide();
		$('#search_input').val("");
		$("#keyword_reset_btn").hide();
	}

	function keyword_reset(){
		$('#search_input').val("");
		$('#search_result').html("");
		$("#keyword_reset_btn").hide();
	}

	function search_by_key(){
		var search_key = $('#search_input').val();
		if(search_key == "" || search_key == undefined){
			notify("검색어를 입력하세요.");
		}else{
			window.location = "/?keyword="+encodeURIComponent(search_key)+"&type=none";
		}
	}

	$('#search_input').keypress(function(e) {
		if (e.keyCode == '13') {
        	e.preventDefault();
        	search_by_key();
      	}
	});

	$('#search_input').keyup(function(e) {
  	$("#keyword_reset_btn").show();
		$.ajax({
	        url: "/search/get_keyword.json",
	        type: 'GET',
	        data: {'keyword': $('#search_input').val() },
	        dataType: 'json',
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	$('#search_result').html("");

	        	if (data.is_empty_result){
	        		if ($('#search_input').val() != ""){
	        			var empty_span = "<span style='display:block; border-bottom:1px solid #cecfd1; margin:0; padding:16px 0; text-align:center; color:#666;'>검색 결과가 없습니다.</span>";
	        			$('#search_result').html(empty_span);
	        		}
	        	}else{
	        		var searchResultTemplate = _.template( $('#search-result-template').html() );

		        	$.each(data.users, function( index, user ) {
		        		$('#search_result').append(searchResultTemplate({keyword: user.string_id, type: 'user', id: user.id}));
					});

					$.each(data.hash_tags, function( index, hash_tag ) {
						$('#search_result').append(searchResultTemplate({keyword: hash_tag.keyword, type: 'hash_tag', id: null}));
					});

					if (data.ask_deal){
            $('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'ask_deal', id: null}));
          }

					if (data.brand){
						$('#search_result').append(searchResultTemplate({keyword: $('#search_input').val(), type: 'brand', id: null}));
					}
					$("#search_result").highlight($('#search_input').val());
	        	}
	        },
	        beforeSend: function(){
	        },
	        complete: function(){
	        }
		});

	});
</script>
