<div id="share_popup_bg" href="#" onclick="hide_share_popup(); return false;" style="display:block; position:fixed;left:0; top:0; width:100%; height:100%; background-color:black; z-index:12; opacity:0.6; display:none;"></div>
<div id='share_popup' style='width:240px; z-index:13; position:fixed; left:50%; top:50%; margin-left:-120px; margin-top:-110px; overflow-y:hidden; overflow-x:hidden; display:none;'>
	<a href="#" onclick="hide_share_popup(); return false;" style="position:absolute; right:0; top:0; width:40px; height:40px;"><i class="fa fa-times" style="color:#fff; font-size:20px; padding-top:10px;"></i></a>
	<p style="background-color:#4b3d3d; font-size:15px; color:#FFF; height:40px; line-height:40px; margin:0;">공유하기</p>
	<div style="background-color:#f4f4f4;">
		<p style="color:#9d9ea0; font-size:12px; margin:0; padding:14px 0 10px 0;">흥미로운 투표를 지인들에게 공유해보세요.</p>
		<a href="#" onclick="share_facebook(); return false;"><img src="/images/etc/facebook.png" style="width:60px;margin-right:5px;" /></a>
		<a id="share_katalk_btn" href="#"><img src="/images/etc/kakao_talk.png" style="width:60px;margin-left:5px;" /></a>
		<p style="color:#9d9ea0; font-size:12px; margin:0; padding-top:10px;">또는 아래 주소를 전달하실 수 있습니다.</p>
		<div style="padding:12px 16px 16px 16px;">
			<input id="share_url" onclick="url_copy(); return false;" style="border:1px solid #dbdbdb; margin:0; padding:6px; color:#383838; font-size:12px; width:180px; outline:none; border-radius:0px;" value="http://vaskit.kr/"/>
		</div>
	</div>
	<div id="share_complete" onclick="hide_share_popup(); return false;" style="height:50px; color:#fff; line-height:50px; font-weight:bold; background-color:#ffcc5a; opacity:0; transition:all 1s;">공유완료!</div>
</div>

<script>
	function show_share_popup(ask_id,user_string_id, left_deal_title, right_deal_title){
		$("#share_url").attr("value","http://vaskit.kr/asks/"+ask_id);
		$("#share_katalk_btn").attr("onclick","share_katalk('"+user_string_id+"','"+left_deal_title+"','"+right_deal_title+"'); return false;")
		disableScroll();
		$("#share_complete").show();
		$("#share_popup_bg").show();
		$("#share_popup").show();
	}

	function hide_share_popup(){
		enableScroll();
		$("#share_complete").hide().css({"opacity":"0"});
		$("#share_popup").hide();
		$("#share_popup_bg").hide();
	}


	function share_facebook(){
		$("#share_complete").css({"opacity":"1"});
		share_log("facebook");
		if (typeof(FB) != 'undefined' && FB != null ) {
			  FB.init({
			    appId      : '<%=Facebook::CONFIG["app_id"]%>',
			    status     : true,
			    xfbml      : true,
			    version    : 'v2.5' // or v2.0, v2.1, v2.2, v2.3
			  });
		}
		var share_url = $("#share_url").attr("value");
		FB.ui({
			method: 'share',
			href: share_url,
		}, function(response){});
	}


	function share_katalk(user_string_id, left_deal_title, right_deal_title){
		$("#share_complete").css({"opacity":"1"});
		share_log("katalk");
		try{
			Kakao.init("91c2c2e69d89a8617cfedd3e61b041ca");
		}catch(err) {
		}

		var share_url = $("#share_url").attr("value");
		var image_url = "http://vaskit.kr/images/etc/share_image.png";
		var label = "@"+user_string_id+"님을 도와주세요! 머리털이 빠지고 있어요...\n\n'"+left_deal_title+"' vs '"+right_deal_title+"', 무엇을 선택해야 후회하지 않을까요?\n\n결정장애 해결에 도움을 주세요!\n\n"+share_url;
		Kakao.Link.sendTalkLink({
	      	label: label,
	      	image: {
	        	src:  image_url,
	        	width: '470',
	        	height: '246'
	      	},
	      	webButton: {
	        	text: "VASKIT으로 가기",
	        	url: share_url
	      	}
	    });
	}

	function url_copy() {
		$(this).select();
	}
</script>
