<% if current_user %>
	<div id="user_overlay">
			<div style="position:absolute; top:-55px; right:0; width:60px; height:50px; background-color:#4b3d3d; text-align:center;">
				<a href="#" onclick="user_off(); return false;" style="display:block; box-sizing:border-box; width:60px; height:50px; padding-right:10px;">
					<i class="fa fa-remove" style="color: #fff; font-size: 26px; padding-top: 11px;"></i>
				</a>
			</div>
			<div style="position:absolute; top:-10px; right:28px; border-bottom:10px solid #998674; border-right:7px solid transparent; border-left:7px solid transparent;"></div>
			<div style="box-sizing:border-box; width:100%; background-color:#f4f4f4; border:3px solid #998674; border-radius:5px; overflow:hidden;">
			<p style="margin:0; height:40px; line-height:40px; font-size:16px; font-weight:bold; color:#fff; background-color:#998674; text-align:left;">
				<a id="user_id" href="#" onclick="user_on(); return false;" style="margin-left:12px; padding:4px 5px 1px; color:#998674; background-color:#fff; border-radius:5px;"></a>
				<span id="user_path" style="margin-left:5px; font-size:13px; font-weight:normal; color:#fff;">
					&gt;&nbsp;My Page
				</span>
				<a href="#" onclick="manage_on(); return false;" style="position:absolute; right:10px; width:40px; height:40px; text-align:center; color:#fff; font-size:20px;"><i class="fa fa-gear" style="padding-top:10px;"></i></a>
			</p>
			<div id="user_overlay_seg" style="max-height:300px; overflow-y:auto;"></div>
			</div>
	</div>

	<script type="text/template" id="user_overlay_seg_template">
		<div style="padding:12px;">
			{{ if (in_progress_count > 0) { }}
			<a href="/?type=my_ask_in_progress" style="display:block; width:100%; background-color:#998675; text-align:center; color:#fff; font-size:14px; line-height:40px; position:relative; margin-bottom:16px; border-radius:5px;">
				<i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;진행 중인 질문 ({{= in_progress_count }}개)
			</a>
			{{ }else{ }}
			<a href="/?type=my_ask_in_progress" style="display:block; width:100%; background-color:rgba(238,110,1,0.8); text-align:center; color:#fff; font-size:14px; line-height:40px; position:relative; margin-bottom:16px; border-radius:5px;">
				<i class="fa fa-plus-circle"></i>&nbsp;새로운 질문을 작성해보시겠어요?
			</a>
			{{ } }}
			<div style="width:100%; background:#998675; text-align:center; color:#fff; font-size:14px; line-height:40px; position:relative; border-radius:5px 5px 0 0;">
				히스토리
			</div>
			<table cellspacing="0" cellpadding="0" style="border:1px solid #dbdbdb; border-top:none; width:100%; text-align:center; background-color:#fff; border-radius:0 0 5px 5px;">
				<tr>
					<td style="width:5%;"></td>
					<td style="width:30%; padding:10px 0;">
						<a href="/?type=my_ask" style="display:block; color:#383838; font-size:22px; line-height:24px; margin:0;">{{= my_ask_count }}</a>
						<a href="/?type=my_ask" style="display:block; color:#9e9fa1; font-size:12px; line-height:12px; margin:0;">Asks</a>
					</td>
					<td style="width:30%;">
						<a href="/?type=vote_ask" style="display:block; color:#383838; font-size:22px; line-height:24px; margin:0;">{{= my_vote_count }}</a>
						<a href="/?type=vote_ask" style="display:block; color:#9e9fa1; font-size:12px; line-height:12px; margin:0;">Votes</a>
					</td>
					<td style="width:30%;">
						<a href="/?type=comment_ask" style="display:block; color:#383838; font-size:22px; line-height:24px; margin:0;">{{= my_comment_count }}</a>
						<a href="/?type=comment_ask" style="display:block; color:#9e9fa1; font-size:12px; line-height:12px; margin:0;">Comments</a>
					</td>
					<td style="width:5%;"></td>
				</tr>
			</table>
			{{ if (!is_new_alram) { }}
				<div id="alram_feed" style="width:100%; background-color:rgba(238,110,1,0.8); text-align:left; color:#fff; font-size:14px; line-height:40px; position:relative; margin-top:16px; padding:0 15px; box-sizing:border-box; border-radius:5px 5px 0 0;">
					알림피드 (<span id="alram_feed_count">{{= alram_count > 15 ? "15개+" : alram_count+"개" }}</span>)
					<a id="all_read" href="#" onclick="all_read(); return false;" style="display:inline; color:#fff; font-size:12px; float:right;"><i class="fa fa-bookmark"></i>&nbsp;모두  읽음으로 표시</a>
				</div>
			{{ } else { }}
				<div id="alram_feed" style="width:100%; background-color:#998674; text-align:left; color:#fff; font-size:14px; line-height:40px; position:relative; margin-top:16px; padding:0 15px; box-sizing:border-box; border-radius:5px 5px 0 0;">
					알림피드 (<span id="alram_feed_count">{{= alram_count > 15 ? "15개+" : alram_count+"개" }}</span>)
				</div>
			{{ } }}
			<div id="alram_list" style="border:1px solid #dbdbdb; border-top:none; font-size:14px; border-radius:0 0 5px 5px; overflow:hidden;">
			{{ if (alrams == 0) { }}
				<p style="padding:40px; margin:0; color:#383838; background-color:#fff; border-top:1px solid #dbdbdb;">알림피드가 없습니다.</p>
			{{ } else { }}
				{{ for(var i=0; i < alrams.length; i++) { }}
					{{ var alram = alrams[i] }}
					{{ if (alram.alram_type.match("vote_")) { }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" style="background-color:{{= alram.is_read ? '#fff' : '#F9F1ED' }}; color:#383838; border-top:1px solid #dbdbdb; display:block; padding:10px 15px; text-align:left;">
							<i class="fa fa-check-circle" style="color: #666;"></i>&nbsp;회원님의 질문에 <span style="color:#998674;">{{= alram.alram_type.replace("vote_", "" )}}명</span>이 투표하였습니다. 중간점검 해보세요!
							<p style="color:#9d9ea1; font-size:12px; margin:0; padding-top:2px; float:right;">{{= get_past_time(alram.updated_at) }}</p>
						</a>
					{{ } else if (alram.alram_type.match("sub_comment_")) { }}
						{{ comment_count = alram.alram_type.replace("sub_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" style="background-color:{{= alram.is_read ? '#fff' : '#F9F1ED' }}; color:#383838; border-top:1px solid #dbdbdb; display:block; padding:10px 15px; text-align:left;">
						{{ if (comment_count == 1) { }}
							<i class="fa fa-comments" style="color: #666;"></i>&nbsp;<span style="color:#998674;">누군가</span>가 회원님이 의견을 남긴 질문에 의견을 남겼습니다.
						{{ } else { }}
							<i class="fa fa-comments" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{= comment_count }}명</span>이 회원님이 의견을 남긴 질문에 의견을 남겼습니다.
						{{ } }}
							<p style="color:#9d9ea1; font-size:12px; margin:0; padding-top:2px; float:right;">{{= get_past_time(alram.updated_at) }}</p>
						</a>
					{{ } else if (alram.alram_type.match("like_comment_")) { }}
						{{ comment_like_count = alram.alram_type.replace("like_comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" style="background-color:{{= alram.is_read ? '#fff' : '#F9F1ED' }}; color:#383838; border-top:1px solid #dbdbdb; display:block; padding:10px 15px; text-align:left;">
							{{ if (comment_like_count == 1) { }}
								<i class="fa fa-heart" style="color: #666;"></i>&nbsp;<span style="color:#998674;">누군가가</span>가 회원님의 의견을 좋아합니다.
							{{ } else { }}
								<i class="fa fa-heart" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{= comment_like_count }}명</span>이 회원님의 의견을 좋아합니다.
							{{ } }}
							<p style="color:#9d9ea1; font-size:12px; margin:0; padding-top:2px; float:right;">{{= get_past_time(alram.updated_at) }}</p>
						</a>
					{{ } else if (alram.alram_type.match("comment_")) { }}
						{{ comment_count = alram.alram_type.replace("comment_","") }}
						<a id="alram_{{=alram.id}}" href="#" onclick="alram_go_url({{=alram.id}}, {{=alram.ask_id}}); return false;" style="background-color:{{= alram.is_read ? '#fff' : '#F9F1ED' }}; color:#383838; border-top:1px solid #dbdbdb; display:block; padding:10px 15px; text-align:left;">
							{{ if (comment_count == 1) { }}
								<i class="fa fa-send-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">누군가</span>가 회원님의 질문에 의견을 남겼습니다.
							{{ } else { }}
								<i class="fa fa-send-o" style="color: #666;"></i>&nbsp;<span style="color:#998674;">{{= comment_count }}명</span>이 회원님의 질문에 의견을 남겼습니다.
							{{ } }}
							<p style="color:#9d9ea1; font-size:12px; margin:0; padding-top:2px; float:right;">{{= get_past_time(alram.updated_at) }}</p>
						</a>
					{{ } }}
				{{ } }}
			{{ } }}
			</div>
		</div>
	</script>

	<script type="text/template" id="user_overlay_seg_template_manage">
		<div style="padding:12px;">
			<p style="font-size:16px; font-weight:bold; color:#9d9ea0; margin:0; text-align:left;">계정 설정</p>
			<table cellspacing="0" cellpadding="0" style="width:100%; margin-top:12px;">
				<tr>
					<td>
						<a style="width:50px; height:32px; line-height:32px; color:#383838;font-size:14px; display:inline-block; text-align:left;">닉네임</a>
					</td>
					<td style="width:100%;">
						<input id="string_id_input" type="text" class="comment_box" placeholder="닉네임을 입력해주세요." value="<%= current_user.string_id %>" style="height:40px;" />
					</td>
					<td style="">
						<a id="send_comment_btn" href="#" onclick="change_string_id(); return false;" style="width:50px; height:40px; line-height:40px; background-color:#998675; display:inline-block; color:#fff; font-size:13px;">변경</a>
					</td>
				</tr>
				<tr>
					<td style="padding-top:8px;">
						<a style="width:50px; height:32px; line-height:32px; color:#383838;font-size:14px; display:inline-block; text-align:left; ">이메일</a>
					</td>
					<td colspan="2" style="width:100%; padding-top:8px;">
						<input type="text" class="comment_box" style="height:40px; border-right:1px solid #dbdbdb;" disabled value="<%= current_user.email %>"/>
					</td>
				</tr>
			</table>

			<a href="/users/edit" style="color:#ee6e01; font-size:12px; text-align:left; display:block; padding:14px 0 30px 0;">비밀번호 변경</a>
			<p style="font-size:16px; font-weight:bold; color:#9d9ea0; margin:0; text-align:left;">알림 설정</p>
			<p style="font-size:12px; color:#383838; margin:0; padding:10px 0 0 0; text-align:left;">이메일 알림</p>
		</div>
		<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
			<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">주요 공지사항</span>
			<a id="receive_notice_btn" href="#" onclick="toggle_receive_notice(); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/<%= current_user.receive_notice_email ? "on" : "off" %>_btn.png" style="width:40px;"></a>
		</div>

		<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
			<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">주간 리포트</span>
			<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
		</div>

		<div style="padding:14px 14px 10px 14px; text-align:left; border-top:1px solid #dbdbdb;">
			<p style="font-size:12px; color:#383838; margin:0; text-align:left;">VASKIT 알림</p>
		</div>


		<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
			<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">나의 질문 득표 알림</span>
			<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
		</div>

		<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; position:relative;">
			<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">나의 질문 댓글 알림</span>
			<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
		</div>

		<div style="background-color:#fff; padding:10px 0; text-align:left; border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; position:relative;">
			<span style="font-size:12px; color:#383838; margin:0; text-align:left; margin-left:14px;">기타 알림</span>
			<a href="#" onclick="notify('준비중입니다'); return false;" style="position:absolute; top:6px; right:14px;"><img src="/images/etc/off_btn.png" style="width:40px;"></a>
		</div>

		<div style="padding:14px 14px 10px 14px;">
			<a data-method="delete" rel="nofollow" href="/users/sign_out" style="color:#ee6e01; font-size:12px; text-align:left; display:block; padding-top:30px;">로그아웃</a>
			<a href="#" onclick="alert('준비중입니다. 회원탈퇴가 꼭 필요하신 경우 VASKIT 고객센터 notice@vaskit.kr로 연락 부탁드립니다.')" style="color:#ee6e01; font-size:12px; text-align:left; display:block; padding:6px 0 30px 0;">회원 탈퇴</a>
		</div>
	</script>

	<script>
		<% if flash[:custom_notice] %>
			notify('<%=flash[:custom_notice]%>');
		<% end %>

		$(window).resize(function(){
	    var user_overlay_seg_height = $(window).height() - 190;
			$("#user_overlay_seg").css("max-height",user_overlay_seg_height);
	  }).resize();

		function user_on(){
			disableScroll();
			$("#user_overlay").fadeIn(100);
			$("#footer").fadeIn(100);
			$("#menu_pc_bg").show();
			$("#menu_bg").fadeIn(100);

			$("#category_overlay").hide();
			$("#search_overlay").hide();
			$('#search_input').val("");
			$("#keyword_reset_btn").hide();


			$.ajax({
				url: "/users/show.json",
	      type: "GET",
	      data: {},
	      dataType: 'json',
	      error: function(){
	          return false;
	      },
	      success: function(data){
					current_user_string_id = data.current_user_string_id;
					$("#user_id").html('<i class="fa fa-user"></i>&nbsp;'+current_user_string_id[0].string_id);
					my_ask_count = data.my_ask_count;
					my_vote_count = data.my_vote_count;
					my_comment_count = data.my_comment_count;
					in_progress_count = data.in_progress_count;
					alram_count = data.alram_count;
					is_new_alram = data.is_new_alram;
					alrams = data.alrams;
					$("#user_path").html("&gt;&nbsp;My Page");
					var userOverlaySegTemplate = _.template($('#user_overlay_seg_template').html());
					$("#user_overlay_seg").html(userOverlaySegTemplate({alrams:alrams}));
				},
				beforeSend: function(){
	      },
	      complete: function(){
	      }
			})

		}

		function user_off(){
			enableScroll();
			$("#user_overlay").fadeOut(300);
			$("#footer").fadeOut(300);
			$("#menu_pc_bg").hide();
			$("#menu_bg").fadeOut(300);
			$("#user_path").html();
			$("#user_overlay_seg").html();
		}

		$("#menu_bg, #menu_pc_bg").on("click",function(){ user_off(); return false; });

		function manage_on() {
			$("#user_path").html("<span onclick='user_on();' style='cursor:pointer'>&gt;&nbsp;My Page</span>&nbsp;&gt;&nbsp;Settings");
			var userOverlaySegTemplate = _.template($('#user_overlay_seg_template_manage').html());
	    $("#user_overlay_seg").html(userOverlaySegTemplate());
		}

		function change_string_id(){
			var english = /^[a-z0-9]*$/;
			var string_id = $("#string_id_input").val();
			if ( string_id == "" || string_id == null ){
				notify("변경할 닉네임을 입력해 주세요.");
			}else if( !english.test(string_id) ){
				notify("닉네임은 영문 소문자 및 숫자만 입력 가능합니다.");
			}
			else{
				$.ajax({
			        url: '/users/change_nickname.json',
			        data: {"string_id": string_id} ,
			        type: 'PUT',
			        error: function(){
			            return false;
			        },
			        success: function(data){
			        	if (data.status == "success"){
									$("#user_id").html('<i class="fa fa-user"></i>&nbsp;'+data.new_string_id);
			        		notify("닉네임이 변경되었습니다.");
			        	}else{
			        		notify("이미 있는 닉네임입니다.");
			        	}
			        },
			        beforeSend: function(){
			        	$(".loading").show();
		            },
		            complete: function(){
		            	$(".loading").hide();
		            }
				});
			}
		}

		function toggle_receive_notice(){
			$.ajax({
		        url: '/users/toggle_receive_notice.json',
		        data: {"blank": 'blank'},
		        type: 'PUT',
		        error: function(){
		            return false;
		        },
		        success: function(data){
		        	if (data.message == "receive"){
		        		$("#receive_notice_btn img").attr("src","/images/etc/on_btn.png");
		        		notify("이메일 받기 완료");
		        	}else{
		        		$("#receive_notice_btn img").attr("src","/images/etc/off_btn.png");
		        		notify("이메일 받기 취소");
		        	}
		        },
		        beforeSend: function(){
		        	$(".loading").show();
	            },
	            complete: function(){
	            	$(".loading").hide();
	            }
			});
		}

		function all_read(){
			$.ajax({
						url: '/alrams/all_read.json',
						type: 'PUT',
						data: {'blank':'blank'},
						error: function(){
								return false;
						},
						success: function(data){
							$("#alram_list a").css("background-color","#fff");
							$("#alram_feed_count").html("0개");
							$("#alram_feed").css("background-color","#998674");
							$("#all_read").remove();
							notify("모두 읽음 처리 완료");
						},
						beforeSend: function(){
							$(".loading").show();
						},
						complete: function(){
							$(".loading").hide();
						}
			});
		}

		function alram_go_url(alram_id, ask_id){
			$.ajax({
						url: '/alrams/read.json',
						type: 'PUT',
						data: {'id': alram_id},
						error: function(){
								return false;
						},
						success: function(data){
							$("#alram_"+alram_id).css("background-color","#fff");
							$("#alram_feed_count").html( parseInt($("#alram_feed_count").html()) - 1 + "개");
							if (data.is_new_alram) {
								$("#alram_feed").css("background-color","#998674");
								$("#all_read").remove();
							}
						},
						beforeSend: function(){
						},
						complete: function(){
						}
			});
			window.open("/asks/" + ask_id);
		}

	</script>
<% end %>
