<div id="user_pc_bg" onclick="user_off(); return false;" style="position:fixed; left:0; top:0; width:100%; height:100%; z-index:1; display:none;"></div>
<div id="user_bg" onclick="user_off(); return false;" style="position:fixed; top:0; width:inherit; height:100%; background-color:#000; z-index:8; opacity:0.6; display:none;"></div>
<div id="user_overlay" style="width:inherit; position:fixed; top:48px; z-index:13; display:none; background:#f4f4f4;">
	<table class="main_header" cellspacing="0" cellpadding="0" style="position:fixed; top:0; background-color:#4b3d3d; width:inherit; overflow:visible; height:47px;">
		<tr>
			<td style="width:60px;">
			</td>
			<td style="text-align:center;">
				<a href="/" style="display:block; font-size:20px; color:#FFFFFF; margin:0 auto; margin-top:3px;">마이 페이지</a>
			</td>
			<td style="width:60px; position:relative;">
				<a href="/"><img style="width:26px; padding:12px 10px; margin-bottom:-4px; margin-left:4px;" src="/images/header/menu_off.png" /></a>
				<img src="/images/etc/detail.png" style="position:absolute; right:18px; bottom:0; width:20px;">
			</td>
		</tr>
	</table>
</div>

<script>
	<% if flash[:custom_notice] %>
		notify('<%=flash[:custom_notice]%>');
	<% end %>

	function user_on(){
		$("#user_overlay").show();
		$("#user_pc_bg").show();
		$("#user_bg").show();
	}

	function user_off(){
		$("#user_overlay").hide();
		$("#user_pc_bg").hide();
		$("#user_bg").hide();
	}

</script>
