<tr style="background-color: #ff7800;">
    <td class="one-column">
        <table width="100%">
            <tr>
                <td class="inner footer">
                  <div class="div">
                    #둘중에뭐사지? #혼자고민고민하지마<br>
                    꼼꼼한 소비자의 깐깐한 선택!<br>
                    <span class="team">Team VASKIT</span><br>
                    <a class="email" href="mailto:help@vaskit.kr">help@vaskit.kr</a>
                  </div>
                </td>
            </tr>
        </table>
    </td>
</tr>
