<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="font-size:13px;">
    <p>
      앱 연락처 정보가 전송되었습니다.
    </p>
    <ul>
      <li>
        연락처: <%= @contact %>
      </li>
    </ul>
  </body>
</html>
