<div class="jumbotron clearfix">
  <h1>컬렉션 목록</h1>
  <p>컬렉션을 생성하거나 수정, 발행할 수 있습니다</p>
  <%= link_to '새로운 컬렉션 생성하기',
              new_admin_collection_path,
              { class: 'btn btn-success btn-lg pull-right' } %>
</div>

<% unless @unpublished_collections.blank? %>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">미발행된 컬렉션 목록</div>
    <!-- Table -->
    <%= render 'table', collections: @unpublished_collections %>
  </div>
<% end %>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">컬렉션 전체 목록</div>
  <!-- Table -->
  <%= render 'table', collections: @collections %>
</div>
<!-- Table Pagination -->
<div class="text-center">
  <%= paginate @collections %>
</div>
