<div style="padding:20px 15px; text-align:left;">
	<p class="access_term_bold">
		이용약관
	</p>
	<br />
	<p class="access_term_bold">
		제 1 조 (목적) 
	</p>
	<p class="access_term">
		본 약관은 (주)어메이저스 (이하 "회사")가 제공하는 텔미 서비스의 이용과 관련하여, 회사와 회원과의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다. 
	</p>
	<br />
	<p class="access_term_bold">
		제 2 조 (용어의 정의) 
	</p>
	<p class="access_term">
		이 약관에서 사용하는 용어의 정의는 아래와 같습니다.<br />
		① "서비스"라 함은 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 "회원"이 이용할 수 있는 텔미 서비스를 의미합니다.<br />
		② "회원"이라 함은 회사의 "서비스"에 접속하여 이 약관에 따라 "회사"와 이용계약을 체결하고 "회사"가 제공하는 "서비스"를 이용하는 고객을 말합니다.<br />
		③ "이용자ID" 또는 "회원ID"라 함은 회원의 식별과 회원의 서비스 이용을 위하여 회원이 입력 혹은 등록한 이메일주소를 말합니다.<br />
		④ "비밀번호"라 함은 "회사"의 서비스를 이용하려는 사람이 이용자ID를 부여 받은 자와 동일인임을 확인하고 회원의 권익을 보호하기 위하여 회원이 선정한 문자 또는 문자와 숫자의 조합을 말합니다.<br />
		⑤ "프로필"이라 함은 서비스를 이용하기 위하여 회원이 입력하는 정보와 지인이 추가로 입력하는 질문의 답변 등 서비스의 프로필 항목에 기재되는 회원의 개인정보를 말합니다.<br />
		⑥"유료서비스"라 함은 "서비스" 중 "회사"가 유료로 제공하는 각종 웹사이트 구축 서비스 및 제반 서비스를 의미합니다.<br />
		⑦“사이버머니”라 함은 “회원”이 “회사”가 제공하는 결제수단을 이용하여 충전하고 “서비스”내에서 현금처럼 사용하는 가상의 화폐를 말합니다.<br />
		⑧"게시물" 혹은 "콘텐츠"라 함은 회원이 서비스를 이용함에 있어 서비스상에 게시한 부호ㆍ문자ㆍ음성ㆍ음향ㆍ화상ㆍ동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제 3 조 (약관의 명시와 개정) 
	</p>
	<p class="access_term">
		① 이 약관은 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력이 발생합니다.<br />
		② "회사"는 약관의 규제 등에 관한 법률, 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 등에 관한 법률 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br />
		③ "회사"가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 개정약관의 적용일자 7일전부터 적용일자 전일까지 공지합니다. 단 "회원"의 권리, 의무에 중대한 영향을 주는 변경의 경우에는 적용일자 30일 전부터 공지하도록 합니다.<br />
		④ "회원"은 변경된 약관에 대해 거부할 권리가 있습니다. "회원"은 변경된 약관이 공지된 지 15일이내에 거부의사를 표명할수있습니다. "회원"이 거부하는 경우 본 서비스 제공자인 "회사"는 15일의 기간을 정하여 "회원"에게 사전통지 후 당해 "회원"과의 계약을 해지할 수 있습니다. 만약, "회원"이 거부 의사를 표시하지 않거나, 전항에 따라 시행일 이후에 "서비스"를 이용하는 경우에는 동의한 것으로 간주합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제 4 조 (약관의 해석) 
	</p>
	<p class="access_term">
		① 이 약관에서 규정하지 않은 사항에 관해서는 약관의 규제 등에 관한 법률, 전기통신기본법, 전기통신사업법, 정보통신망이용촉진등에 관한 법률 등의 관계법령에 따릅니다.<br />
		② "회원"이 "회사"와 개별계약을 체결하여 서비스를 이용하는 경우에는 개별계약이 우선합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제 5 조 (이용계약의 성립) 
	</p>
	<p class="access_term">
		① "회사"의 서비스 이용계약(이하 '이용계약')은 서비스를 이용하고자 하는 자의 본 약관과 개인정보취급방침의 내용에 대한 동의 및 이용신청(회원가입신청)에 대하여 "회사"가 승낙함으로서 성립합니다.<br />
		② 서비스를 이용하고자 하는 자가 이용신청 당시 웹 상의 "동의함" 버튼을 누르면 본 약관 및 개인정보취급방침에 대하여 동의한 것으로 간주합니다.<br />
		③ "회사"는 "가입신청자"의 신청에 대하여 서비스 이용을 승낙함을 원칙으로 합니다. 다만, "회사"는 다음 각 호에 해당하는 신청에 대하여는 승낙을 하지 않거나 사후에 이용계약을 해지할 수 있습니다.<br />
		ㄱ.가입신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우<br />
		ㄴ.실명이 아니거나 타인의 명의를 이용한 경우<br />
		ㄷ.허위의 정보를 기재하거나, 회사가 제시하는 내용을 기재하지 않은 경우<br />
		ㄹ.14세 미만 아동이 정보통신망 이용촉진 및 정보보호등에 관한 법률에서 정한 "개인정보" 입력 시 법정대리인(부모 등)의 동의를 얻지 아니한 경우<br />
		ㅁ.이용자의 귀책사유로 인하여 승인이 불가능하거나 기타 규정한 제반 사항을 위반하며 신청하는 경우<br />
		④ "회원"이 유료서비스를 이용하는 경우 이용대금을 납부한 후 서비스를 이용하는 것을 원칙으로 하며, 유료서비스 이용계약의 성립시기는 "구매완료"를 신청절차 상에서 표시한 시점으로 합니다.<br />
		⑤"회사"는 서비스관련설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우에는 승낙을 유보할 수 있습니다.<br />
		⑥제2항과 제3항에 따라 회원가입신청의 승낙을 하지 아니하거나 유보한 경우, "회사"는 원칙적으로 이를 가입신청자에게 알리도록 합니다.<br />
		⑦이용계약의 성립 시기는 "회사"가 가입완료를 신청절차 상에서 표시한 시점으로 합니다.<br />
		⑧"회사"는 "회원"에 대해 회사정책에 따라 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제 6 조 (서비스이용신청)
	<p>
	<p class="access_term">
		① 회원으로 가입하여 본 서비스를 이용하고자 하는 이용자는 "회사"에서 요청하는 정보인 이름, 이메일, 성별, 나이 등을 제공하여야 합니다. 단, 실제정보를 입력하지 않은 회원은 법적인 보호를 받을 수 없으며, 서비스 이용에 제한을 받을 수 있습니다.<br />
		② 서비스는 실명 인증 없이 이용이 가능하지만 추후 실명인증이 필요한 서비스가 개발되는 경우, 반드시 실명인증 (주민등록번호 대체 수단인 아이핀인증 등을 포함)을 거쳐야만 서비스를 이용할 수 있으며, 실명으로 등록하지 않은 사용자는 일체의 권리를 주장할 수 없습니다.<br />
		③ 타인의 개인정보를 도용하는 등 부정한 목적과 방법으로 이용신청을 한 회원의 ID는 사전 통지없이 삭제될 수 있으며, 당해 회원은 관계법령에 따라 처벌을 받을 수 있습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제7조 (개인정보보호 의무)
	</p>
	<p class="access_term">
		"회원이" "회사"의 "서비스"에 제공하는 정보 일체는 개인정보취급방침에 따르며, "회사"가 귀하의 정보를 수집 및 이용하는 행위는 동 정책에 따라 규율됩니다. "회원"은 본 서비스를 이용함으로써 "회사"가 "회원"의 정보를 수집 및 이용(개인정보취급방침에서 규정하는 바와 같음)하는 것에 동의하는 것으로 간주된다는 사실을 인지하고 있습니다. "회원"에게 본 서비스를 제공하는 것의 일환으로, "회사"는 서비스 관련 공지사항 및 행정적 사안에 관한 메시지를 비롯한 전달사항을 제공할 필요가 있을 수 있습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제8조 ("회원"의 "아이디" 및 "비밀번호"의 관리에 대한 의무)
	</p>
	<p class="access_term">
		"회원"은 본 서비스에서 사용하는 비밀번호와 관련된 모든 행동을 보호/관리해야 합니다. "회사"는 귀하의 계정에 비밀번호를 강력한 암호(대문자, 소문자 및 숫자, 기호의 조합)로 설정할 것을 권장합니다. "회사"는 위 사항을 만족하지 못했을 때 일어난 어떠한 손실이나 피해에 대해 책임지지 않습니다. "회사"는 "서비스"를 안전하게 유지하기 위해 최선을 다하고 있지만 안전을 보장할 수는 없습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제9조 ("회원"에 대한 통지)
	</p>
	<p class="access_term">
		①"회사"가 "회원"에 대한 통지를 하는 경우 본 약관에 별도 규정이 없는 한 "회원"이 지정한 전자우편주소, 서비스 내 전자메모 및 쪽지 등으로 할 수 있습니다.<br />
		②"회사"는 "회원" 전체에 대한 통지의 경우 7일 이상 "회사"의 게시판에 게시함으로써 제1항의 통지에 갈음할 수 있습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제10조 ("회사"의 의무)
	</p>
	<p class="access_term">
		①"회사"는 관련법과 본 약관이 금지하거나 미풍양속에 반하는 행위를 하지 않으며, 계속적이고 안정적으로 "서비스"를 제공하기 위하여 최선을 다하여 노력합니다.
		②"회사"는 "회원"이 안전하게 "서비스"를 이용할 수 있도록 개인정보(신용정보 포함)보호를 위해 보안시스템을 갖추어야 하며 개인정보보호정책을 공시하고 준수합니다.<br />
		③"회사"는 서비스이용과 관련하여 "회원"으로부터 제기된 의견이나 불만이 정당하다고 인정할 경우에는 이를 처리하여야 합니다. 회원이 제기한 의견이나 불만사항에 대해서는 게시판을 활용하거나 전자우편 등을 통하여 "회원"에게 처리과정 및 결과를 전달합니다.<br />
		④"회사"는 다음의 사항을 해당 " 유료서비스"의 이용초기화면이나 그 포장, FAQ 등에 "회원" 알기 쉽게 표시합니다.<br />
		ㄱ.유료서비스의 명칭 또는 제호<br />
		ㄴ.유료서비스의 내용, 이용방법, 이용료, 결제방법 기타 이용조건<br />
		ㄷ.이용가능 기기 및 이용에 필요한 최소한의 기술사양<br />
	</p>
	<br />
	<p class="access_term_bold">
		제11조 (서비스 이용의 중지 또는 계약의 해지)
	</p>
	<p class="access_term">
		①"회원"은 다음 행위를 하여서는 안 됩니다.<br />
		ㄱ.신청 또는 변경 시 허위내용의 등록<br />
		ㄴ.타인의 정보도용<br />
		ㄷ."회사"에 게시된 정보의 변경<br />
		ㄹ."회사"가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시<br />
		ㅁ."회사"와 기타 제3자의 저작권 등 지적재산권에 대한 침해<br />
		ㅂ."회사" 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위<br />
		ㅅ.외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 "회사"에 공개 또는 게시하는 행위<br />
		ㅇ.회사의 동의 없이 영리를 목적으로 서비스를 사용하는 행위<br />
		ㅈ.기타 불법적이거나 부당한 행위<br />
		②."회원"은 관계법, 본 약관의 규정, 이용안내 및 "서비스"와 관련하여 공지한 주의사항, "회사"가 통지하는 사항 등을 준수하여야 하며, 기타 "회사"의 업무에 방해되는 행위를 하여서는 안 됩니다.
	</p>
	<br />
	<p class="access_term_bold">
		제12조 (서비스의 제공 등)
	</p>
	<p class="access_term">
		①서비스는 연중무휴, 1일 24시간 제공함을 원칙으로 합니다.<br />
		②"회사"는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신두절 또는 운영상 상당한 이유가 있는 경우 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 "회사"는 제9조("회원"에 대한 통지)에 정한 방법으로 "회원"에게 통지합니다. 다만, "회사"가 사전에 통지할 수 없는 부득이한 사유가 있는 경우 사후에 통지할 수 있습니다.<br />
		③"회사"는 서비스의 제공에 필요한 경우 정기점검을 실시할 수 있으며, 정기점검시간은 서비스제공화면에 공시한 바에 따릅니다.<br />
		④사업종목의 전환, 사업의 포기 등의 이유로 "유료서비스"를 제공할 수 없게 되는 경우에는 "회사"는 제9조(회원에 대한 통지)에서 정한 방법으로 "회원"에게 통지하고 당초 "회사"에서 제시한 조건에 따라 "회원"에게 보상합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제13조 (서비스의 변경)
	</p>
	<p class="access_term">
		①"회사"는 상당한 이유가 있는 경우에 운영상, 기술상의 필요에 따라 제공하고 있는 전부 또는 일부 서비스를 변경할 수 있습니다. 서비스의 내용, 이용방법, 이용시간에 대하여 변경이 있는 경우에는 변경사유, 변경될 서비스의 내용 및 제공일자 등은 그 변경 전 7일 이상 해당 서비스 초기화면에 게시하여야 합니다.<br />
		②"회사"는 무료로 제공되는 서비스의 일부 또는 전부를 회사의 정책 및 운영의 필요상 수정, 중단, 변경할 수 있으며, 이에 대하여 관련법에 특별한 규정이 없는 한 회원에게 별도의 보상을 하지 않습니다.<br />
		③"유료서비스"의 변경 내용이 중대하거나 "회원"에게 불리한 경우에는 "회사"가 해당 "유료서비스"를 제공받는 "회원"에게 제9조(회원에 대한 통지)에서 정한 방법으로 "회원"에게 통지합니다. 이때, "회사"는 동의를 거절한 "회원"에 대해서는 변경 전 서비스를 제공합니다. 다만, 그러한 서비스 제공이 불가능할 경우 해당 서비스의 제공을 중지하거나 계약을 중단할 수 있으며 이 경우 환불은 제19조 2항에 따라 진행됩니다.
	</p>
	<br />
	<p class="access_term_bold">
		제 14조 (정보 제공 및 광고 게재)
	</p>
	<p class="access_term">
		①회사는 서비스를 운영함에 있어 각종 정보를 서비스 화면에 게재하거나 메일, 쪽지, SMS등의 방법으로 회원에게 제공할 수 있습니다.<br />
		②회사는 서비스의 운영과 관련하여 광고 등을 서비스 화면에 게재하거나, 메일, 쪽지, SMS등을 통하여 발송할 수 있습니다. 다만, 회사는 회원에게 메일, 쪽지, SMS 등의 발송을 하는 경우 수신 동의 여부를 확인하여, 수신 동의한 회원에 한하여 이를 발송합니다.<br />
		③회원이 서비스상에 게재되어 있는 광고를 이용하거나 서비스를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 회원과 광고주간의 문제입니다. 만약, 회원과 광고주간에 문제가 발생할 경우에도 회원과 광고주가 직접 해결하여야 하며, 이와 관련하여 회사는 어떠한 책임도 지지 않습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제15조 (게시물의 저작권)
	</p>
	<p class="access_term">
		①"회원"이 서비스 내에 게시한 게시물의 저작권은 해당 게시물의 저작자에게 귀속됩니다.<br />
		②"회원"이 "서비스" 내에 게시하는 "콘텐츠"는 검색결과 내지 "서비스" 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다. 이 경우, 회사는 저작권법 규정을 준수하며, "회원"은 언제든지 고객센터 또는 "서비스" 내 관리기능을 통해 해당 게시물에 대해 삭제, 검색결과 제외, 비공개 등의 조치를 취할 수 있습니다.<br />
		③"회사"는 제2항 이외의 방법으로 회원의 게시물을 이용하고자 하는 경우에는 전화, 팩스, 전자우편 등을 통해 사전에 회원의 동의를 얻어야 합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제 16조 (회원의 게시물에 대한 책임)
	</p>
	<p class="access_term">
		①회사는 회원이 서비스에 게시하거나 전달하는 게시물이 다음 각호에 해당된다고 판단되는 경우 사전 통지 없이 해당 게시물에 대한 임시조치, 삭제 또는 게시 거부 등 필요한 조치를 할 수 있습니다.<br />
		1.회사, 다른 회원 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우<br />
		2.공공질서 및 공서양속에 위반되는 내용인 경우<br />
		3.게시물의 내용이 범죄적 행위에 결부된다고 판단되는 경우<br />
		4.회사의 저작권, 제3자의 저작권 등 기타 타인의 권리를 침해하는 내용인 경우<br />
		5.법령을 위반하거나 타인의 권리를 침해하는 방식으로 정치적, 종교적 분쟁을 야기하는 내용인 경우<br />
		6.불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우<br />
		7.타인의 개인정보를 도용하여 작성한 내용이거나, 타인이 입력한 정보를 무단으로 위·변조한 내용인 경우<br />
		8.동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우<br />
		9.정보통신망 이용촉진 및 정보보호 등에 관한 법률 또는 청소년보호법에 따라 청소년 유해 매체물로 지정예고되거나 지정된 경우 및 이에 준하는 게시물이라고 판단되는 경우<br />
		10.기타 관계법령 및 회사의 개별서비스별 세부이용지침 등에 위반된다고 판단되는 내용인 경우<br />
		②회사는 개별서비스별로 게시물과 관련된 세부이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 게시물(회원간 전달 포함)을 게재하여야 합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제17조 (게시물의 관리)
	</p>
	<p class="access_term">
		①"회원"의 게시물이 "정보통신망법" 및 "저작권법"등 관련법에 위반되는 내용을 포함하는 경우, 권리자는 관련법이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, "회사"와 "회원"은 관련법에 따라 조치를 취하여야 합니다.<br />
		②"회사"는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 게시물에 대해 임시조치 등을 취할 수 있습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제18조 (권리의 귀속)
	</p>
	<p class="access_term">
"서비스"에 대한 저작권 및 지적재산권은 회사에 귀속됩니다. 단, 회원의 게시물 및 제휴계약에 따라 제공된 저작물 등은 제외합니다.<br />
"회사"는 서비스와 관련하여 회원에게 회사가 정한 이용조건에 따라 계정, 아이디, 게시물 등을 이용할 수 있는 이용권만을 부여하며, "회원"은 이를 양도, 판매, 담보제공 등의 처분행위를 할 수 없습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제19조 ("회원"의 계약해제, 해지 등)
	</p>
	<p class="access_term">
		①"회원"은 언제든지 자기 정보 관리 메뉴를 통하여 서비스 탈퇴 신청을 할 수 있으며, "회사"는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다.<br />
		②"회원"이 계약을 해지할 경우, 관련법 및 개인정보보호정책에 따라 회사가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 회원의 모든 데이터는 소멸됩니다.<br />
		③"회원"이 계약을 해지하는 경우, 본인 계정에 등록된 모든 데이터 일체는 삭제됩니다 .
	</p>
	<br />
	<p class="access_term_bold">
		제20조 (환불)
	</p>
	<p class="access_term">
		①"회사"는 약정된 "유료서비스"의 하자를 회사가 보완, 수정할 수 없어 서비스가 이루어지지 않거나 정상적 이용이 불가능한 경우 회원이 결제한 전액을 환불합니다.<br />
		②"회사"는 제13조 4항, 제18조 및 제20조에 따른 계약해지가 발생하거나, "회원"이 "유료서비스" 이용계약을 해지하는 경우, 잔여 금액을 환불합니다. 단, 정상적으로 사용되었거나 무상으로 지급한 이벤트성 포인트는 환불대상에서 제외됩니다.<br />
		③"회사"는 과오금이 발생한 경우 이용대금의 결제와 동일한 방법으로 과오금 전액을 환불하여야 하며 "회사"가 과오금에 대한 환불을 거부할 경우 "회사"는 정당하게 이용대금이 부과되었음을 입증할 책임을 집니다. 과오금의 환불절차는 "디지털콘텐츠이용자보호지침"에 따릅니다.<br />
		④회사는 결제와 동일한 방법으로 환불을 진행하며, 결제와 동일한 방법으로 환불이 불가능한 때는 이를 사전에 고지합니다. 다만, 수납확인이 필요한 결제수단의 경우에는 수납확인일로부터 3영업일 이내에 이를 환불하도록 합니다.<br />
		⑤본 조에 따른 환불 진행 시, 환불 수수료(30% 또는 2000원 중 큰 금액)는 "회원"의 귀책사유로 인한 경우에는 "회원", "회사"의 귀책사유로 인한 경우에는 "회사"가 각각 부담합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제21조 (이용제한 등)
	</p>
	<p class="access_term">
		①"회사"는 "회원"이 본 약관의 의무를 위반하거나 서비스의 정상적인 운영을 방해한 경우, 서비스 이용을 경고, 일시정지, 계약해지로 단계적으로 제한할 수 있습니다.<br />
		②"회사"는 전항에도 불구하고, "주민등록법"을 위반한 명의도용 및 결제도용, "저작권법" 및 "컴퓨터프로그램보호법"을 위반한 불법프로그램의 제공 및 운영방해, "정보통신망법"을 위반한 불법통신 및 해킹, 악성프로그램의 배포, 접속권한 초과행위 등과 같이 관련법을 위반한 경우에는 즉시 계약해지를 할 수 있습니다. 본 항에 따른 계약해지 시 서비스 이용을 통해 획득한 혜택 등도 모두 소멸되며, 회사는 이에 대해 별도로 보상하지 않습니다.<br />
		③"회사"는 무료회원이 계속해서 3개월 이상 로그인하지 않는 경우, 회원정보의 보호 및 운영의 효율성을 위해 이용을 제한할 수 있습니다.<br />
		회사는 본 조의 이용제한 범위 내에서 제한의 조건 및 세부내용은 이용제한정책 등에서 정한 바에 의합니다.<br />
		④본 조에 따라 서비스 이용을 제한하거나 계약을 해지하는 경우에는 "회사"는 제9조["회원"에 대한 통지]에 따라 통지합니다.<br />
		⑤"회원"은 본 조에 따른 이용제한 등에 대해 "회사"가 정한 절차에 따라 이의신청을 할 수 있습니다. 이 때 이의가 정당하다고 회사가 인정하는 경우 회사는 즉시 서비스의 이용을 재개합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제22조 (게시물하자 등에 의한 회원 피해보상)
	</p>
	<p class="access_term">
		"회사"는 "유료서비스"의 하자 등에 의한 회원피해보상의 기준, 범위, 방법 및 절차에 관한 사항을 "디지털콘텐츠이용자보호지침"에 따라 처리합니다.
	</p>
	<br />
	<p class="access_term_bold">
		제23조 (책임의 한계)
	</p>
	<p class="access_term">
		①"회사"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우에는 "서비스" 제공에 관한 책임이 면제됩니다.<br />
		②"회사"는 "회원" 의 귀책사유로 인한 서비스 이용의 장애에 대하여는 책임을 지지 않습니다.<br />
		③"회사"는 "회원"이 "서비스"와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.<br />
		④"회사"는 "회원" 간 또는 "회원"과 제3자 상호간에 "서비스"를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.<br />
		⑤"회사"는 무료로 제공되는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.
	</p>
	<br />
	<p class="access_term_bold">
		제24조 (준거법 및 재판관할)
	</p>
	<p class="access_term">
		①"회사"와 "회원" 간 제기된 소송은 대한민국법을 준거법으로 합니다.<br />
		②"회사"와 "회원"간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.
	</p>

</div>

<style>
	.access_term{
		margin:0 auto;
		font-size:10px;
		line-height:15px;
		color:#524440;
	}


	.access_term_bold{
		margin:0 auto;
		font-weight:bold;
		font-size:10px;
		line-height:15px;
		color:#52440;
	}
</style>
