<%= render :partial => "common_partial/header_1", :locals => {:title => "문의하기" } %>

<div style="background:#f4f4f4; padding:12px 10px 0 10px; text-align:left;">
	<p style="margin:0; font-size:14px; color:#9fa0a2; line-height:18px; text-align:left;">
		혹시 불편하신 점이 있으신가요? 말씀해주세요!
	</p>
	<%= text_area_tag :message, nil, :placeholder => "혹시 불편하신 점이 있으신가요? 말씀해주세요! ", :class => "ask_message_input" %>

	<a href="#" onclick="submit_inquiry(); return false;" style="display:block; background-color:#4b3d3d; color:#fff; font-size:14px; margin:20px 0 10px 0; height:36px; line-height:36px; text-align:center;">
		&nbsp;전송
	</a>
</div>

<script>
	function submit_inquiry(){
		if ($("#message").val() == ""){
			notify('내용을 입력해 주세요.');
			return;
		}
		$.ajax({
	        url: '/etc/create_inquiry.json',
	        type: 'POST',
	        data: {message: $("#message").val()},
	        error: function(){
	            return false;
	        },
	        success: function(data){
	        	window.location = "/<%=current_user.string_id%>";
	        },
	        beforeSend: function(){
	        	$(".loading").show();
            },
            complete: function(){
            	$(".loading").hide();
            }
		});
	}
</script>
