<%= render :partial => "common_partial/header_1", :locals => {:title => "문의하기" } %>

<div style="background:#f4f4f4; text-align:left;">
	<p class="chat_bubble">
		VASKIT을 이용하시면서 불편하신 점이 있으신가요?<br>
		혹은 저희 TEAM VASKIT에게 하고싶은 말씀이 있으신가요?<br>
		저희는 항상 고객님의 의견에 귀를 기울입니다.<br>
		어떤 내용이라도 좋습니다. 무엇이든 말씀해주세요!
	</p>
	<div class="content_box" style="padding:10px; margin:15px 12px; text-align:left;">
		<div class="table_div" style="margin-bottom:0;">
			<%= text_field_tag :contact, nil, :placeholder => "연락처를 적어주시면 빠른 시일 내에 답변드리겠습니다.", :class => "registrations_input" %>
			<span class="input_icon left_input" onclick="$('#contact').focus(); return false;"><i class="fa fa-envelope-o"></i></span>
		</div>
		<div class="table_div">
			<%= text_area_tag :message, nil, :placeholder => "무엇이든 자유롭게 말씀해주세요!", :class => "ask_message_input" %>
			<span class="input_icon left_input" onclick="$('#message').focus(); return false;" style="height:120px; line-height:120px;"><i class="fa fa-edit"></i></span>
		</div>
		<a id="submit_btn" href="#" onclick="submit_inquiry(); return false;" style="display:block; margin:10px 0 0px; height:40px; background-color:#9d9ea1; color:#fff; font-size:14px; line-height:40px; text-align:center; border-radius:5px; transition:all .3s;">
			<i class="fa fa-send"></i>&nbsp;전송
		</a>
	</div>
</div>

<script>
	function ready_to_submit() {
		if ( $("#message").val() != "" ) {
			$("#submit_btn").css("background-color","#ee6e01");
		} else {
			$("#submit_btn").css("background-color","#9d9ea1");
		}
	}

	$("#message").attr("onkeyup","ready_to_submit(); return false;");

	function submit_inquiry(){
		if ($("#message").val() == ""){
			notify("내용을 입력해 주세요.");
			$("#message").focus().select();
			return;
		}
		$.ajax({
	        url: '/etc/create_inquiry.json',
	        type: 'POST',
	        data: {message: $("#message").val(), contact: $("#contact").val()},
	        error: function(){
	            return false;
	        },
	        success: function(data){
						if (data.status == "success") {
							$("#message, #contact").val("");
							$("#submit_btn").css("background-color","#9d9ea1");
							notify('소중한 의견이 접수되었습니다.<br>정말 감사합니다!');
						}
	        },
	        beforeSend: function(){
	        	$(".loading").show();
          },
          complete: function(){
          	$(".loading").hide();
          }
		});
	}
</script>
