<div style="position:absolute; top:0; width:inherit; height:inherit; min-height:100%; background-color:#fff;">
	<img style="margin:0 auto; margin-top:50px; width:200px;display:block;" src="/images/etc/logo_2.png">
	<p style="font-size:18px; font-weight:bold; color:#ec6e00; margin:26px 0 0 0;">"A, B "둘 중에 뭐 사지?"</p>
	<p style="font-size:14px; color:#998674; margin:8px 0 0 0; line-height:20px;">VASKIT은 사용자들의 참여를 통해<br/>구매결정고민을 해결하는 서비스입니다.</p>
	<img style="margin:0 auto; margin-top:20px; width:100%; display:block;" src="/images/landing/illust.png" />
	<img style="margin:0 auto; padding-top:10px; width:80%; display:block;" src="/images/landing/welcome.png" />

	<a href="#" onclick="webLoginWithFB(); return false;" style="background:#3b589e; width:200px; height:40px; line-height:40px; display:block; font-size:14px; font-weight:bold; color:#FFFFFF; margin:0 auto; margin-top:30px;-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;">
		<i class="fa fa-facebook"></i>&nbsp;페이스북 로그인
	</a>

	<a href="/users/sign_up" style="background:#ee6e01; width:200px; height:40px; line-height:40px; display:block; font-size:14px; font-weight:bold; color:#FFFFFF; margin:0 auto; margin-top:10px;-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;">
		<i class="fa fa-users"></i>&nbsp;회원가입<small>&nbsp;/sign up</small>
	</a>

	<a href="/users/sign_in" style="background:#fff; color:#383838; width:200px; border:1px solid #dbdbdb; height:40px; line-height:40px; display:block; font-size:14px; font-weight:bold; margin:0 auto; margin-top:10px;-moz-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;">
		<i class="fa fa-sign-in"></i>&nbsp;로그인<small>&nbsp;/sign in</small>
	</a>

	<p style="font-size:12px; color:#9d9ea1; padding:20px 0 50px 0; margin:0;">
		<i class="fa fa-info-circle"></i>&nbsp;가입 시 <a href="/etc/access_term.html" target="_blank" style="text-decoration:underline;">약관</a> 및 <a href="/etc/personal_information.html" target="_blank" style="text-decoration:underline;">개인정보취급정책</a>에 동의하게 됩니다.
	</p>
</div>
<script>
	function webLoginWithFB(){
		$(".loading").show();
		window.location = 'https://www.facebook.com/dialog/oauth?client_id=<%=Facebook::CONFIG["app_id"]%>&redirect_uri=<%=CONFIG["host"]%>/users/facebook&scope=email,public_profile,user_birthday';
	}
</script>
