/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{background-color:#f4f4f4; margin:0 auto;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
img{border:none;}  

body {
  font-family: "Apple SD Gothic Neo", "나눔고딕", NanumGothic, "Nanum Gothic", Applegothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  // font-family: verdana, arial, helvetica, sans-serif;
}

p, ol, ul, td {
  font-family: "Apple SD Gothic Neo", "나눔고딕", NanumGothic, "Nanum Gothic", Applegothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  // font-family: verdana, arial, helvetica, sans-serif;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #CCC; 
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCC; 
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #CCC;
}

#wrap{
	min-height:100%;
	margin:0 auto;
	padding:0; 
	text-align:center;
	background-color: #f4f4f4;
}

.search_input{
	width:100%; 
    height:34px; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    padding:3px 40px 3px 6px; 
    color:#666; 
    font-size:14px; 
    line-height:15px;
    border:1px solid #dbdbdb;
}

.category{
	background-color:#4b3d3d; 
	display:inline-block; 
	padding:3px 7px; 
	color:#fff; 
	font-weight:bold; 
	font-size:12px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px;
}

.home-float-btn img{
	display:block; float:right;
}

.comment_box{
	border:1px solid #dbdbdb; 
	color:#4b3d3d; 
	width:100%; 
	padding:8px; 
	height:36px; 
	font-size:15px; 
	line-height:17px; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
	border:1px solid #dbdbdb; 
	border-right:none;
}

#flash  { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#1c99e8; color:#FFFFFF; font-weight:bold; padding:20px 10px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-30px; text-align:center; width:200px; z-index:990000; opacity:0.8; filter:alpha(opacity=60); font-size:16px; }
.loading { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#1c99e8; color:#FFFFFF; font-weight:bold; padding:20px 10px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-30px; text-align:center; width:200px; z-index:990000; opacity:0.8; filter:alpha(opacity=60); font-size:16px; }
