/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	height: 100%;
  min-height: 100%;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

img{border:none;}

body {
	overflow-y:scroll;
	height: 100%;
  min-height: 100%;
	background-color:#f3f4f5; margin:0 auto;
  font-family: "Apple SD Gothic Neo", "나눔고딕", NanumGothic, "Nanum Gothic", Applegothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  // font-family: verdana, arial, helvetica, sans-serif;
}

p, ol, ul, td {
  font-family: "Apple SD Gothic Neo", "나눔고딕", NanumGothic, "Nanum Gothic", Applegothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
  // font-family: verdana, arial, helvetica, sans-serif;
}

* {-webkit-text-size-adjust:none;}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #CCC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #CCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #CCC;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hover_pointer { cursor: pointer; }

#wrap{
	min-height:100%;
	margin:0 auto;
	padding:50px 0 0 0;
	text-align:center;
	background-color: #f4f4f4;
	position:relative;
	border-bottom:3px solid #dbdbdb;
}

.main_header {
	position: fixed;
	top: 0;
	width: inherit;
	height: 50px;
	z-index: 10;
	background-color: #4b3d3d;
}

.header_shadow{
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
	        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
 	border-radius: 1px;
}

.chat_bubble {
	margin:15px 12px 0px;
	padding:7px 15px;
	color:#9d9ea1;
	font-size:13px;
	text-align:left;
	line-height:1.6;
	background-color:#fff;
	border-right:3px solid #dbdbdb;
	border-bottom:3px solid #dbdbdb;
}

.registrations_input{
	width:100%;
	border:none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding:8px;
	font-size:15px;
	line-height:22px;
	color:#393939;
	border:1px solid #dbdbdb;
	margin-top:10px;
}

.search_input{
	width:100%;
  height:38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding:3px 65px 3px 35px;
  color:#666;
  font-size:14px;
  line-height:16px;
  border:1px solid #ee6e01;
	border-right-width:3px;
	border-bottom-width:3px;
  -webkit-appearance:none;
	outline:none;
	-webkit-border-radius:0px;
	   -moz-border-radius:0px;
	        border-radius:0px;
}

.category{
	background-color:#998674;
	display:inline-block;
	padding:8px 10px;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:0px;
	width:100%;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	cursor:pointer;
}

.category_none{
	background-color:#f4f4f4;
	display:inline-block;
	border:1px solid #dbdbdb;
	border-bottom:none;
	padding:8px 10px;
	color:#9d9ea0;
	font-weight:bold;
	font-size:12px;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	        border-radius:0px;
	width:100%;
	-webkit-box-sizing:border-box;
	        box-sizing:border-box;
	cursor:pointer;
}

.home-float-btn-area {
	transition: all 1s;
}

.home-float-btn {
	position: relative;
  width: 65px;
  height: 65px;
  background: rgba(238,110,1,0.8);
  color: #fff;
  font-size: 40px;
  border-radius: 35px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  animation: home-btn-ani 40s linear 2s infinite;
}

@keyframes home-btn-ani {
    0% { transform:rotateX(0deg); opacity:1; }
    48% { transform:rotateX(0deg); opacity:1; }
		49% { transform:rotateX(90deg); opacity:1; }
    50% { transform:rotateX(180deg); opacity:0; }
    98% { transform:rotateX(180deg); opacity:0; }
		99% { transform:rotateX(90deg); opacity:0; }
    100% { transform:rotateX(0deg); opacity:1; }
}
.home-float-btn-text {
	position: absolute;
	top:0px;
	float: right;
	box-sizing: border-box;
	padding-top: 18px;
  width: 65px;
  height: 65px;
  background-color: rgba(238,110,1,0.8);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  border-radius: 35px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
  transform: rotateX(180deg);
	opacity: 0;
  animation: home-btn-text-ani 40s linear 2s infinite;
}
@keyframes home-btn-text-ani {
    0% { transform:rotateX(180deg); opacity:0; }
    48% { transform:rotateX(180deg); opacity:0; }
		49% { transform:rotateX(90deg); opacity:0; }
    50% { transform:rotateX(0deg); opacity:1; }
    98% { transform:rotateX(0deg); opacity:1; }
		99% { transform:rotateX(90deg); opacity:1; }
    100% { transform:rotateX(180deg); opacity:0; }
}

.content_box {
	 margin-bottom:15px;
	 background-color:#fff;
	 border-width:1px 3px 3px 1px;
	 border-style:solid;
	 border-color:#dbdbdb;
	 -webkit-border-radius:0 0 0 5px;
	    -moz-border-radius:0 0 0 5px;
	         border-radius:0 0 0 5px;
	 clear:both;
}

 .card_image {
	 width:100%;
	 display:block;
	 transition:all .2s;
 }
 .card_image.img_hover {
	 -webkit-transform:scale(1.02);
	    -moz-transform:scale(1.02);
	         transform:scale(1.02);
 }
 .card_image_expand {
	 margin:0;
	 position:absolute;
	 top:10px;
	 right:10px;
	 color:#fff;
	 z-index:1;
	 opacity:0.2;
	 transition:all .2s;
 }
 .card_image_expand.img_hover {
	 opacity:1;
	 color:#ffcc5a;
 }
 .card_image_overlay {
	 display:block;
	 position:absolute;
	 top:0;
	 left:0;
	 width:100%;
	 height:100%;
	 margin-bottom:-32px;
	 background-color:rgba(0,0,0,0.6);
	 transition:all .2s;
 }
 .card_image_overlay.img_hover {
	background-color:rgba(0,0,0,0.2);
 }

.vote_btn {
	position:absolute;
	bottom:16px;
	left:50%;
	margin-left:-50px;
	width:100px;
	height:28px;
	background-color:rgba(75,61,61,0.8);
	border:1px solid rgba(49,31,31,0.6);
	border-bottom-width:6px;
	-webkit-border-radius:30px;
	   -moz-border-radius:30px;
		      border-radius:30px;
	color:#fff;
	font-size:13px;
	line-height:28px;
	transition:all .2s;
}
.vote_btn:hover, .vote_btn:focus, .vote_btn:active {
	border-bottom-width:3px;
	background-color:rgba(238,110,1,0.8);
}

.share_icon { padding:8px 8px; display:inline-block; color:#9d9ea1; font-size:12px; transition:all .2s; }
.share_icon:hover, .share_icon:focus, .share_icon:active { color:#998674; font-weight:bold; }
.more_icon { padding:8px 5px; display:inline-block; color:#9d9ea1; font-size:12px; transition:all .2s; }
.more_icon:hover, .more_icon:focus, .more_icon:active { color:#998674; font-weight:bold; }
.card_detail { padding:12px 15px; display:block; color:#9d9ea1; font-size:13px; transition:all .2s; }
.card_detail:hover, .card_detail:focus, .card_detail:active { color:#998674; font-weight:bold; }

.vote-result-td {
	width:50%;
}
.vote-result-td-title{
	min-width:40px;
}
.vote-result-bar-left {
	float:right;
	margin:4px 0 6px;
	min-width:3px; height:5px;
	-webkit-border-radius:5px 0 0 5px;
	   -moz-border-radius:5px 0 0 5px;
	        border-radius:5px 0 0 5px;
}
.vote-result-bar-right {
	float:left;
	margin:4px 0 6px;
	min-width:3px; height:5px;
	-webkit-border-radius:0 5px 5px 0;
	   -moz-border-radius:0 5px 5px 0;
	        border-radius:0 5px 5px 0;
}


.comment_box{
	width:100%;
	height:34px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border:1px solid #dbdbdb;
	padding:3px 6px 3px 6px;
	color:#666;
	font-size:14px;
  line-height:15px;
	border:1px solid #dbdbdb;
	border-right:none;
	-webkit-appearance: none;
	border-radius:0;
}

.comment_box2{
	display:block;
	width:100%;
	border:none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #dbdbdb;
	font-size:12px;
	color:#393939;
	height:34px;
	padding:7px;
	-webkit-appearance: none;
	-webkit-border-radius:0px;
}

.comment_modify_box{
  width:100%;
  min-height:40px;
  border:none;
  -webkit-box-sizing: border-box;
	        box-sizing: border-box;
  font-size:12px;
  color:#393939;
  height:34px;
  -webkit-appearance: none;
  -webkit-border-radius:0px;
  display:none;
}

.deal_spec_detail td{
  max-width: 0;
  background-color:#fff;
	padding:5px 0;
	border-top:1px solid #dbdbdb;
}

.deal_spec_detail td p{
  word-break:break-all;
}

.deal_detail td{
	max-width: 0;
	background-color:#fff;
	padding:5px 0;
}
.deal_detail td:nth-of-type(2n+1){
	border-right:1px solid #dbdbdb;
}

.deal_detail td p{
	overflow: hidden;
	text-overflow: ellipsis;
  white-space: nowrap;
}

.highlight {
  color: #ee6e01;
}

.category_select{
  padding: 0;
  margin: 0;
  border: 1px solid #dbdbdb;
  width: 136px;
  border-radius: 0px;
  overflow: hidden;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #fff url("/images/common/select_drop.png") no-repeat 99% 50%;
  background-size: 27px 24px;
  padding: 4px 14px;
  font-size:13px;
  color:#393939;
}

.birthday_select{
  padding: 0;
	margin: 0;
	border: 1px solid #dbdbdb;
	border-radius: 0px;
	overflow: hidden;
	background-color: #fff;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: #fff url("/images/common/select_drop.png") no-repeat 99% 50%;
	background-size: 27px 24px;
	padding:4px;
	height:40px;
	font-size:13px;
	color:#393939;
}


.category_select select {
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.category_select select:focus {
  outline: none;
}

.hash_tag{
	color:#ee6e01;
	transition:background-color .2s;
}
.hash_tag:hover, .hash_tag:focus, .hash_tag:active {
	background-color:#ffe4a9;
}

.ask_message_input{
	text-align:left;
	width:100%;
	min-height:120px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding:8px;
	font-size:13px;
	line-height:17px;
	color:#393939;
	border:1px solid #dbdbdb;
	margin-top:10px;
}

.ask_search_deal{
	display:block;
	background-color:#ee6e01;
	border:1px solid #ee6e01;
	border-top:none;
	color:#fff;
	font-size:13px;
	padding:10px 0;
}

.ask_text_field{
	display:block;
	width:100%;
	border:none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding:4px;
	font-size:12px;
	line-height:17px;
	color:#393939;
}

.naver_image_wrap{
	display:block;
  position: relative;
  width: 100%;       /* desired width */
}
.naver_image_wrap:before{
  content: "";
  display: block;
  padding-top: 100%;  /* ratio of 1:1*/
}

.notice_title{
	width:100%;
	height:34px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border:1px solid #dbdbdb;
	padding:3px 6px 3px 6px;
	color:#666;
	font-size:14px;
  line-height:15px;
	-webkit-appearance: none;
	border-radius:0;
}

.naver_image_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
}

.center_input::-webkit-input-placeholder {
	text-align: center;
}
.center_input:-moz-placeholder { /* Firefox 18- */
	text-align: center;
}
.center_input::-moz-placeholder {  /* Firefox 19+ */
	text-align: center;
}
.center_input:-ms-input-placeholder {
	text-align: center;
}

.right_input::-webkit-input-placeholder {
	text-align: right;
}
.right_input:-moz-placeholder { /* Firefox 18- */
	text-align: right;
}
.right_input::-moz-placeholder {  /* Firefox 19+ */
	text-align: right;
}
.right_input:-ms-input-placeholder {
	text-align: right;
}

#flash  { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#ee6e01; color:#FFFFFF; font-weight:bold; padding:20px 10px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-30px; text-align:center; width:200px; z-index:990000; opacity:0.8; filter:alpha(opacity=60); font-size:14px; }
.loading { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#ee6e01; color:#FFFFFF; font-weight:bold; padding:20px 10px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-30px; text-align:center; width:200px; z-index:990000; opacity:0.8; filter:alpha(opacity=60); font-size:14px; }

::-moz-selection { background:#ffe4a9; } /* Code for Firefox */
::selection { background:#ffe4a9; }
