/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
	height: 100%;
    min-height: 100%;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

img{border:none;}

body {
	overflow-y:scroll;
	height: 100%;
    min-height: 100%;
	background-color:#f3f4f5; margin:0 auto;
    font-family: "Apple SD Gothic Neo", "나눔고딕", NanumGothic, "Nanum Gothic", Applegothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
    // font-family: verdana, arial, helvetica, sans-serif;
}

p, ol, ul, td {
    font-family: "Apple SD Gothic Neo", "나눔고딕", NanumGothic, "Nanum Gothic", Applegothic, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
    // font-family: verdana, arial, helvetica, sans-serif;
}

* {-webkit-text-size-adjust:none;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #CCC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #CCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #CCC;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hover_pointer { cursor: pointer; }

#wrap{
	min-height:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
	background-color: #f4f4f4;
	position:relative;
}

.header_shadow{
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
   	border-radius: 1px;
}


.registrations_input{
  	width:100%;
  	border:none;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	padding:8px;
  	font-size:15px;
  	line-height:22px;
  	color:#393939;
  	border:1px solid #dbdbdb;
  	margin-top:10px;
}

.search_input{
	width:100%;
    height:34px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:3px 40px 3px 6px;
    color:#666;
    font-size:14px;
    line-height:16px;
    border:1px solid #ee6e01;
    -webkit-appearance: none;
  	border-radius:0;
}

.category{
	background-color:#4b3d3d; 
	display:inline-block;
	padding:5px 10px;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:0px;
}

.category_none{
	background-color:#fff;
	display:inline-block;
	border:1px solid #dbdbdb;
	padding:5px 10px;
	color:#9d9ea0;
	font-weight:bold;
	font-size:12px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:0px;
}

.home-float-btn img{
	display:block; float:right;
}

.comment_box{
	width:100%;
	height:34px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #dbdbdb;
	padding:3px 6px 3px 6px;
	color:#666;
	font-size:14px;
    line-height:15px;
	border:1px solid #dbdbdb;
	border-right:none;
	-webkit-appearance: none;
  	border-radius:0;
}

.comment_box2{
	display:block;
  	width:100%;
  	border:none;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	border:1px solid #dbdbdb;
  	font-size:12px;
  	color:#393939;
  	height:34px;
  	padding:7px;
  	-webkit-appearance: none;
  	-webkit-border-radius:0px;
}

.comment_modify_box{
    width:100%;
    min-height:40px;
    border:none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size:12px;
    color:#393939;
    height:34px;
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    display:none;
}

.deal_spec_detail td{
    max-width: 0;
    background-color:#f4f4f4;
}

.deal_spec_detail td p{
    word-break:break-all;
}

.deal_detail td{
	max-width: 0;
}

.deal_detail td p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.highlight {
    color: #ee6e01;
}

.category_select{
    padding: 0;
    margin: 0;
    border: 1px solid #dbdbdb;
    width: 136px;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #fff url("/images/common/select_drop.png") no-repeat 99% 50%;
   background-size: 27px 24px;
   padding: 4px 14px;
   font-size:13px;
   color:#393939;
}

.birthday_select{
    padding: 0;
    margin: 0;
    border: 1px solid #dbdbdb;
    border-radius: 0px;
    overflow: hidden;
    background-color: #fff;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: #fff url("/images/common/select_drop.png") no-repeat 99% 50%;
   background-size: 27px 24px;
   padding:4px;
   height:40px;
   font-size:13px;
   color:#393939;
}


.category_select select {
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.category_select select:focus {
    outline: none;
}

.hash_tag{
	color:#ee6e01;
}

.ask_message_input{
	text-align:left;
  	width:100%;
  	min-height:120px;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	padding:8px;
  	font-size:13px;
  	line-height:17px;
  	color:#393939;
  	border:1px solid #dbdbdb;
  	margin-top:10px;
}

.ask_search_deal{
	display:block;
	background-color:#ee6e01;
	border:1px solid #ee6e01;
	border-top:none;
	color:#fff;
	font-size:13px;
	padding:10px 0;
}

.ask_text_field{
	display:block;
  	width:100%;
  	border:none;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
  	padding:4px;
  	font-size:12px;
  	line-height:17px;
  	color:#393939;
}

.naver_image_wrap{
	display:block;
    position: relative;
    width: 100%;       /* desired width */
}
.naver_image_wrap:before{
    content: "";
    display: block;
    padding-top: 100%;  /* ratio of 1:1*/
}

.notice_title{
	width:100%;
	height:34px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid #dbdbdb;
	padding:3px 6px 3px 6px;
	color:#666;
	font-size:14px;
    line-height:15px;
	-webkit-appearance: none;
  	border-radius:0;
}

.naver_image_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: red;
}

.center_input::-webkit-input-placeholder {
text-align: center;
}
.center_input:-moz-placeholder { /* Firefox 18- */
text-align: center;
}
.center_input::-moz-placeholder {  /* Firefox 19+ */
text-align: center;
}
.center_input:-ms-input-placeholder {
text-align: center;
}

.right_input::-webkit-input-placeholder {
text-align: right;
}
.right_input:-moz-placeholder { /* Firefox 18- */
text-align: right;
}
.right_input::-moz-placeholder {  /* Firefox 19+ */
text-align: right;
}
.right_input:-ms-input-placeholder {
text-align: right;
}

#flash  { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#ee6e01; color:#FFFFFF; font-weight:bold; padding:20px 10px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-30px; text-align:center; width:200px; z-index:990000; opacity:0.8; filter:alpha(opacity=60); font-size:14px; }
.loading { -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; background-color:#ee6e01; color:#FFFFFF; font-weight:bold; padding:20px 10px; position:fixed; top:50%; left:50%; margin-left:-110px; margin-top:-30px; text-align:center; width:200px; z-index:990000; opacity:0.8; filter:alpha(opacity=60); font-size:14px; }
