<div class="jumbotron clearfix">
  <h1>비교영상 목록</h1>
  <p>비교영상을 생성하거나 수정, 발행할 수 있습니다</p>
  <%= link_to '새로운 비교영상 생성하기',
              new_admin_video_path,
              { class: 'btn btn-success btn-lg pull-right' } %>
</div>

<% unless @unpublished_videos.blank? %>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">미발행된 비교영상 목록</div>
    <!-- Table -->
    <%= render 'table', videos: @unpublished_videos %>
  </div>
<% end %>

<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">비교영상 전체 목록</div>
  <!-- Table -->
  <%= render 'table', videos: @videos %>
</div>
<!-- Table Pagination -->
<div class="text-center">
  <%= paginate @videos %>
</div>
