<script type="text/template" id="askImgViewTemplate">
  <div class="img_layer" onclick="back_button();">
    <div class="inner">
      <div class="img_container">
        <div class="ask_deal_info left">
          <img class="ask_deal_image" src="{{= get_image_url(ask.left_ask_deal, 'ask_deals', 'normal') }}" onerror="imgError(this);">
          <div class="ask ask_detail">
            {{ if (ask.left_ask_deal.title != '' && ask.left_ask_deal.title != null) { }}
              <div class="ask_table_row title">
                <span class="ask_table_cell">{{= ask.left_ask_deal.title }}</span>
              </div>
            {{ } }}
            {{ if (ask.left_ask_deal.brand != '' && ask.left_ask_deal.brand != null) { }}
              <div class="ask_table_row brand">
                <span class="ask_table_cell text_box_short">{{= ask.left_ask_deal.brand }}</span>
              </div>
            {{ } }}
            {{ if (ask.left_ask_deal.price != null) { }}
              <div class="ask_table_row price">
                <span class="ask_table_cell text_box_short">{{= numberWithCommas(ask.left_ask_deal.price) }}원</span>
              </div>
            {{ } }}
            {{ if (ask.left_ask_deal.link != '' && ask.left_ask_deal.link != null) { }}
              <div class="ask_table_row link">
                {{ var aLink = document.createElement('a') }}
                {{ if (ask.left_ask_deal.link != '' && ask.left_ask_deal.link != null) { }}
                  {{ aLink.href = ask.left_ask_deal.link }}
                  <span class="ask_table_cell text_box_short"><a href="{{= aLink.href }}" target="_blank" onclick="window.event.cancelBubble = true;">{{= fieldWithBlank(aLink.host) }}</a></span>
                {{ } else { }}
                  <span class="ask_table_cell text_box_short">{{= fieldWithBlank(aLink.host) }}</span>
                {{ } }}
              </div>
            {{ } }}
          </div>
        </div>
        <div class="ask_deal_info right">
          <img class="ask_deal_image" src="{{= get_image_url(ask.right_ask_deal, 'ask_deals', 'normal') }}" onerror="imgError(this);">
          <div class="ask ask_detail">
            {{ if (ask.right_ask_deal.title != '' && ask.right_ask_deal.title != null) { }}
              <div class="ask_table_row title">
                <span class="ask_table_cell">{{= ask.right_ask_deal.title }}</span>
              </div>
            {{ } }}
            {{ if (ask.right_ask_deal.brand != '' && ask.right_ask_deal.brand != null) { }}
              <div class="ask_table_row brand">
                <span class="ask_table_cell text_box_short">{{= ask.right_ask_deal.brand }}</span>
              </div>
            {{ } }}
            {{ if (ask.right_ask_deal.price != null) { }}
              <div class="ask_table_row price">
                <span class="ask_table_cell text_box_short">{{= numberWithCommas(ask.right_ask_deal.price) }}원</span>
              </div>
            {{ } }}
            {{ if (ask.right_ask_deal.link != '' && ask.right_ask_deal.link != null) { }}
              <div class="ask_table_row link">
                {{ var bLink = document.createElement('a') }}
                {{ if (ask.right_ask_deal.link != '' && ask.right_ask_deal.link != null) { }}
                  {{ bLink.href = ask.right_ask_deal.link }}
                  <span class="ask_table_cell text_box_short"><a href="{{= bLink.href }}" target="_blank" onclick="window.event.cancelBubble = true;">{{= fieldWithBlank(bLink.host) }}</a></span>
                {{ } else { }}
                  <span class="ask_table_cell text_box_short">{{= fieldWithBlank(bLink.host) }}</span>
                {{ } }}
              </div>
            {{ } }}
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script>
  var askImgViewTemplate = _.template($('#askImgViewTemplate').html());

  function show_ask_image(target) {
    var is_left = target.hasClass('left') ? true : false;
    var ask_wrapper = target.parentsUntil(this, '.wrapper');
    var img_layer = ask_wrapper.find('.img_layer');
    var inner = img_layer.find('.inner');

    inner.scrollTop(10);
    if (is_left) { inner.scrollLeft(0 + 50); } else { inner.scrollLeft(inner.width() + 50); }
    img_layer.clearQueue().addClass('opened').toggle_ask_image();
  }

  function hide_ask_image(target) {
    var ask_wrapper = target.parentsUntil(this, '.wrapper');
    var ask_container = ask_wrapper.find('.container.main');
    var img_layer = ask_wrapper.find('.img_layer');

    ask_container.scrollTop(0);
    img_layer.clearQueue().removeClass('opened').transitionEnd(function(){
      img_layer.css({ top: '' });
    });
  }

  $.fn.toggle_ask_image = function() {
    var img_layer = $(this);
    var inner = img_layer.find('.inner');
    var mouseTarget, mouseStartX, mouseStartY, mouseEndX, mouseEndY; // Mouse/Touch event target
    var screenTop, screenLeft, screenWidth, screenHeight;
    var deltaX = 50, deltaY = 100;

    inner.off('touchstart').on('touchstart', touchStartListener);
    inner.off('touchmove').on('touchmove', touchMoveListener);
    inner.off('touchend').on('touchend', touchEndListener);

    function start(e) {
      inner.stop();
      screenWidth = inner.width();
      screenHeight = inner.height();
      screenLeft = inner.scrollLeft() < screenWidth ? 0 : screenWidth;
    }

    function moving(e) {
      screenTop = inner.scrollTop();
      if (screenTop <= 0 && mouseEndY - mouseStartY > 0) {
        e.preventDefault();
        var top = (mouseEndY - mouseStartY) / screenHeight * 100;
        img_layer.clearQueue().css({ top: top + '%' });
      }
    }

    function end(e) {
      if (mouseEndY - mouseStartY > deltaY) {
        history.back();
      } else {
        img_layer.stop().animate({ top: 0 }, 250);
        var top = mouseEndY - mouseStartY > 0 ? 10 : screenTop;
        if (mouseEndX - mouseStartX > deltaX) {
          inner.stop().animate({ scrollTop: top, scrollLeft: 0 + 50 }, 250);
        } else if (mouseEndX - mouseStartX < -deltaX) {
          inner.stop().animate({ scrollTop: top, scrollLeft: screenWidth + 50 }, 250);
        } else {
          inner.stop().animate({ scrollTop: top, scrollLeft: screenLeft + 50 }, 250);
        }
      }
    }

    function touchStartListener(e){
      // e.preventDefault();
      mouseTarget = $(e.currentTarget);
      mouseStartX = mouseEndX = e.originalEvent.touches[0].clientX;
      mouseStartY = mouseEndY = e.originalEvent.touches[0].clientY;

      // Custom Code
      start(e);
    }

    function touchMoveListener(e){
      // e.preventDefault();
      mouseEndX = e.originalEvent.touches[0].clientX;
      mouseEndY = e.originalEvent.touches[0].clientY;

      // Custom Code
      moving(e);
    }

    function touchEndListener(e){
      // e.preventDefault();

      // Custom Code
      end(e);
    }

  };
</script>
