<!DOCTYPE html>
<html>
<head>
  <title>VASKIT - admin page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="/images/Nwagon/Nwagon.js"></script>
  <link href="/images/Nwagon/Nwagon.css" rel="stylesheet">
</head>
<body>
	<div id="flash" class="flash_html" style="display:none;" ></div>
	<div class="loading" style="display:none;">
    	<div>Loading...</div>
  	</div>
	<%= yield %>
</body>


</html>
