@charset "utf-8";

/* About Team 화면 설정 */
#about_team .contents_header { background-image:url("../img/contents_header_about_team.jpg"); }

#about_team .team_intro_1, .team_intro_1:hover { height:490px; border:none; }
#about_team .team_intro_1 .contents_box_title { top:20px; left:30px; text-align:left; font-size:60px; }
#about_team .team_intro_1 .contents_box_title span { color:#ee6e01; }
#about_team .team_intro_1 .contents_box_title p { padding-top:40px; padding-left:15px; font-size:14px; }
#about_team .team_intro_1:hover .clamp.top.left { border-color:#ee6e01; transform:translate(5px, 5px); }
#about_team .team_intro_1:hover .clamp.bottom.right { border-color:#ee6e01; transform:translate(-5px, -5px) }
#about_team .team_intro_1.scroll .clamp.top.left { border-color:#ee6e01; transform:translate(5px, 5px); }
#about_team .team_intro_1.scroll .clamp.bottom.right { border-color:#ee6e01; transform:translate(-5px, -5px); }

#about_team .team_intro_2, .team_intro_2:hover { height:120px; border:none; background:transparent; }
#about_team .team_intro_2 .contents_box_title { position:relative; left:0; bottom:0; text-align:center; color:#fff; font-size:40px; line-height:110px; }
#about_team .team_intro_2 .contents_box_title span { color:#4b3d3d; font-size:60px; border-bottom:5px dotted #4b3d3d; }

#about_team .team_intro_3, .team_intro_3:hover { height:280px; border:none; }
#about_team .team_intro_3 .contents_box_title { top:50%; left:50%; margin-top:-20px; margin-left:-340px; text-align:left; font-size:48px; }
#about_team .team_intro_3 .contents_box_title span { font-size:80px; text-shadow:5px 5px 30px red; }
#about_team .team_intro_3 .contents_box_title small { font-size:8px; }
#about_team .team_intro_3 .contents_box_title p { text-align:right; font-size:14px; }
#about_team .team_intro_3:hover .clamp.top.right { border-color:#ee6e01; transform:translate(-5px, 5px); }
#about_team .team_intro_3:hover .clamp.bottom.left { border-color:#ee6e01; transform:translate(5px, -5px); }
#about_team .team_intro_3.scroll .clamp.top.right { border-color:#ee6e01; transform:translate(-5px, 5px); }
#about_team .team_intro_3.scroll .clamp.bottom.left { border-color:#ee6e01; transform:translate(5px, -5px); }


#about_team a.contents_box.team_motto:hover div.contents_box_title { opacity:0; transform:translateY(-30px); }
#about_team a.contents_box.team_motto:hover div.contents_box_description { opacity:1; }
#about_team a.contents_box.team_motto:hover div.clamp { border-color:#ee6e01; transform:translate(-5px, 5px); }
#about_team a.contents_box.team_motto.scroll div.contents_box_title { opacity:0; transform:translateY(-30px); }
#about_team a.contents_box.team_motto.scroll div.contents_box_description { opacity:1; }
#about_team a.contents_box.team_motto.scroll div.clamp { border-color:#ee6e01; transform:translate(-5px, 5px); }



#about_team a.contents_box.team_motto_quote, .team_motto_quote:hover { height:320px; border:none; }
#about_team a.contents_box.team_motto_quote .contents_box_quote_title {
  position:absolute; bottom:20px; left:20px;
  color:#ee6e01; font-size:48px;
  transition:all 0.3s ease 0s;
}
#about_team a.contents_box.team_motto_quote .contents_box_quote_title small { color:#fff; font-size:28px; }
#about_team a.contents_box.team_motto_quote .contents_box_quote {
  color:#dbdbdb; font-size:16px; line-height:1.2; text-align:right;
  position:absolute; bottom:20px; right:20px; opacity:0.3;
  transition:all 0.3s ease 0s;
}
#about_team a.contents_box.team_motto_quote:hover .contents_box_quote_title { color:#dbdbdb; transform:scale(0.9); opacity:0.3; opacity:0.3; transform-origin:left bottom; }
#about_team a.contents_box.team_motto_quote:hover .contents_box_quote { color:#fff; transform:scale(1.05); opacity:1; transform-origin:right bottom; }
#about_team a.contents_box.team_motto_quote.scroll .contents_box_quote_title { color:#dbdbdb; transform:scale(0.9); opacity:0.3; transform-origin:left bottom; }
#about_team a.contents_box.team_motto_quote.scroll .contents_box_quote { color:#fff; transform:scale(1.05); opacity:1; transform-origin:right bottom; }



#about_team a.contents_box.team_member, a.contents_box.team_member_pic {
  border:none; height:245px;
  transition:all 0.3s ease-in-out 0s;
}
#about_team a.contents_box.team_member .member_name {
  position:absolute; top:30px; left:30px;
  color:#4b3d3d;
  transition:all 0.3s ease-in-out 0s;
}
#about_team a.contents_box.team_member .member_name span { font-size:30px; }
#about_team a.contents_box.team_member .member_description {
  position:absolute; top:70px; left:30px; max-width:420px;
  color:#9d9fa1; font-size:14px; line-height:1.5;
  transition:all 0.3s ease-in-out 0s;
}
#about_team a.contents_box.team_member .member_contacts { position:absolute; top:35px; right:30px; font-size:20px; }

#about_team div.row:hover a.contents_box.team_member { border-bottom:15px solid #ee6e01; }
#about_team div.row:hover a.contents_box.team_member .member_name { color:#ee6e01; }
#about_team div.row:hover a.contents_box.team_member .member_description { color:#383838; }
#about_team div.row:hover a.contents_box.team_member .member_contacts { color:#ee6e01; }
#about_team div.row a.contents_box.team_member.scroll { border-bottom:15px solid #ee6e01; }
#about_team div.row a.contents_box.team_member.scroll .member_name { color:#ee6e01; }
#about_team div.row a.contents_box.team_member.scroll .member_description { color:#383838; }
#about_team div.row a.contents_box.team_member.scroll .member_contacts { color:#ee6e01; }


#about_team a.contents_box.team_member div.clamp.dashed { width:120px; height:120px; border-width:60px; top:0px; right:0px; }
#about_team a.contents_box.team_member div.clamp.dashed p { color:#fff; font-size:14px; margin-top:-50px; margin-left:35px;}
#about_team a.contents_box.team_member div.clamp.dashed i { color:#fff; font-size:40px; margin-top:-40px; margin-left:0px; position:absolute; }


@media (max-width:799px) {
  #about_team .team_intro_1 .contents_box_title { font-size:40px; }
  #about_team .team_intro_1 .contents_box_title p { padding-top:10px; padding-left:10px; }
  #about_team .team_intro_1 .clamp.top.left { border-color:#ee6e01; top:5px; left:5px; }
  #about_team .team_intro_1 .clamp.bottom.right { border-color:#ee6e01; bottom:5px; right:5px; }

  #about_team .team_intro_2 { height:140px; padding:20px 0; }
  #about_team .team_intro_2 .contents_box_title { font-size:20px; line-height:1.2; width:190px; margin:0 auto; }
  #about_team .team_intro_2 .contents_box_title span { font-size:30px; border-bottom:3px dotted #4b3d3d; }

  #about_team .team_intro_3 { height:280px; }
  #about_team .team_intro_3 .contents_box_title { width:227px; top:20px; left:20px; margin-top:0; margin-left:0px; font-size:28px; }
  #about_team .team_intro_3 .contents_box_title span { font-size:50px; }
  #about_team .team_intro_3 .contents_box_title p { padding-right:20px; }
  #about_team .team_intro_3 .clamp.top.right { border-color:#ee6e01; top:5px; right:5px; }
  #about_team .team_intro_3 .clamp.bottom.left { border-color:#ee6e01; bottom:5px; left:5px; }

  #about_team a.contents_box.team_motto { height:300px; }
  #about_team a.contents_box.team_motto.scroll div.clamp { border-color:#ee6e01; top:5px; right:5px; }

  #about_team a.contents_box.team_motto_quote, .team_motto_quote:hover { height:300px; border:none; }
  #about_team a.contents_box.team_motto_quote .contents_box_quote_title {
    position:absolute; bottom:10px; left:10px;
    color:#ee6e01; font-size:48px;
    transition:all 0.3s ease 0s;
  }
  #about_team a.contents_box.team_motto_quote .contents_box_quote_title { font-size:32px; }
  #about_team a.contents_box.team_motto_quote .contents_box_quote_title small { font-size:20px; }
  #about_team a.contents_box.team_motto_quote .contents_box_quote { bottom:10px; right:10px; font-size:14px; line-height:1.4; }

  #about_team a.contents_box.team_member_pic { height:300px; }
  #about_team a.contents_box.team_member { min-height:0px; height:100%; margin-top:-5px; }
  #about_team a.contents_box.team_member, a.contents_box.team_member_pic {
    border:none;
    transition:all 0.3s ease-in-out 0s;
  }
  #about_team a.contents_box.team_member .member_name { position:relative; top:20px; left:20px; }
  #about_team a.contents_box.team_member .member_name span { font-size:28px; }
  #about_team a.contents_box.team_member .member_description {
    position:relative; top:0px; left:0px; margin:30px 20px 20px 20px;
  }
  #about_team a.contents_box.team_member .member_contacts { position:absolute; top:25px; right:20px; }

  #about_team div.row.scroll a.contents_box.team_member { border-bottom:15px solid #ee6e01; }
  #about_team div.row.scroll a.contents_box.team_member .member_name { color:#ee6e01; }
  #about_team div.row.scroll a.contents_box.team_member .member_description { color:#383838; }
  #about_team div.row.scroll a.contents_box.team_member .member_contacts { color:#ee6e01; }

  #about_team a.contents_box.team_member div.clamp.dashed { width:80px; height:80px; border-width:40px; }
  #about_team a.contents_box.team_member div.clamp.dashed p { margin-top:-35px; margin-left:20px; }
  #about_team a.contents_box.team_member div.clamp.dashed i { font-size:30px; margin-top:-40px; margin-left:-5px; }

}
