@charset "utf-8";

/* FAQ & HELP 화면 설정 */
#faq_help .contents_header { background-image:url("../img/contents_header_faq_help.jpg"); }
#faq_help div.col_100 div.row:last-child { margin-bottom:20px; }

#faq_help div.faq_title {
  background:#d8dee5;
  margin:0; padding:15px; box-sizing:border-box;
  border-bottom:1px solid #d8dee5;
  border-right:1px solid #d8dee5;
  color:#ee6e01; font-size:18px;
}
#faq_help div.faq_title span {
  color:#383838; font-size:12px;
}
#faq_help div.question {
  display:block; box-sizing:border-box;
  padding:15px; padding-right:50px;
  line-height:1.2;
  background:url("../img/off.png") no-repeat top right;
  background-color:#fff;
  border-bottom:1px solid #d8dee5;
  border-right:1px solid #d8dee5;
  cursor:pointer;
}
#faq_help div.question.on {
  background:url("../img/on.png") no-repeat top right;
  background-color:#f4f4f4;
  color:#ee6e01; font-weight:bold;
  border:1px solid #ee6e01;
  border-bottom:none;
}
#faq_help div.question:hover {
  background-color:#f4f4f4;
}

#faq_help div.answer {
  display:none;
  box-sizing:border-box;
  padding:0px 20px 15px 20px;
  line-height:1.2;
  background:#f4f4f4;
  border-right:1px solid #d8dee5;
}
#faq_help div.answer.on {
  display:block;
  border:1px solid #ee6e01;
  border-top:none;
}

#faq_help a.contents_box { height:480px; border:none; margin-bottom:20px; }
#faq_help a.contents_box div.contents_box_overlay { opacity:0.5; }
#faq_help a.contents_box:hover div.contents_box_overlay { opacity:0.8; }

#faq_help div.contents_box_title { font-size:48px; left:20px; bottom:20px;  }
#faq_help div.contents_box_title p { font-size:32px; }
#faq_help a.contents_box:hover div.contents_box_title { color:#ee6e01; }

#faq_help div.clamp.top.right { top:20px; right:20px; width:120px; height:120px; border-right-width:20px; border-top-width:20px; }
#faq_help div.clamp.top.left { top:10px; left:10px; }
#faq_help div.clamp.bottom.right { bottom:10px; right:10px; }
#faq_help a.contents_box:hover div.clamp.top.left { border-color:#ee6e01; transform:translate(10px, 10px); }
#faq_help a.contents_box:hover div.clamp.bottom.right { border-color:#ee6e01; transform:translate(-10px, -10px); }


@media (max-width:799px) {
  #faq_help div.faq_title { border-right:0; }
  #faq_help div.question { font-size:15px; border-right:0; }
  #faq_help div.answer { font-size:15px; border-right:0; }

  #faq_help a.contents_box { height:300px; }
  #faq_help a.contents_box:hover div.contents_box_overlay { opacity:0.5; }
  #faq_help div.contents_box_title { font-size:24px; left:10px; bottom:10px; }
  #faq_help div.contents_box_title p { font-size:18px; }
  #faq_help div.clamp.top.right { top:10px; right:10px; width:60px; height:60px; border-right-width:15px; border-top-width:15px; }
  #faq_help div.clamp.top.left { top:10px; left:10px; }
  #faq_help div.clamp.bottom.right { bottom:10px; right:10px; }
}
