@charset "utf-8";

/* 기본 레이아웃 지정 */
header {
  position:fixed; top:0px; left:0px;
  width:200px; height:100%;
  background:#4b3d3d;
  transition:all 0.3s ease-in-out 0s;
  z-index:11;
}
section {
  position:relative; top:0px; left:0px;
  padding-left:200px; padding-bottom:120px;
  width:100%; min-height:100%; box-sizing:border-box;
  background:#998674;
  transition:all 0.5s ease-in-out 0s;
  display:table;
}
footer {
  position:fixed; bottom:0px;
  width:100%; height:120px;
  background:#383838;
  clear:both;
  transition:all 0.3s ease-in-out 0s;
}

/* 래퍼 지정 */
header .wrapper {
  width:200px; height:100%;
}
section .wrapper {
  display:table-cell; vertical-align:middle; margin:0 auto;
}
footer .wrapper {
  position:relative;
  max-width:800px;
  margin:0 auto; padding:20px;
  padding-left:220px;
  color:#f4f4f4; font-size:12px;
  text-align:right;
}
/* 로딩 바 지정 */
#loadingbar { position:fixed; top:0; left:0; width:100%; height:10px; z-index:20; }
#bar { width:0%; height:100%; background:#ffcc5a; }

/* Blur Screen 및 Mobile Landscape 화면 지정 */
#blur_screen {
  position:fixed; top:0px; left:0px;
  width:100%; height:100%;
  background:black;
  z-index:-8;
  opacity:0;
  display:none;
}
#mobile_landscape {
  position:fixed; top:0px; left:0px;
  width:100%; height:100%;
  background:#4b3d3d;
  text-align:center; vertical-align:middle;
  color:#fff;
  z-index:-20;
  opacity:0;
  display:none;
}
#loading_moment {
  position:fixed; top:0px; left:0px;
  width:100%; height:100%; box-sizing:border-box;
  padding-left:200px; padding-bottom:120px; padding-top:100px;
  background:#4b3d3d;
  color:#fff; font-size:28px; line-height:1.5;
  text-align:center; vertical-align:middle;
}
#loading_moment_screen {
  display:inline-block;
  padding:30px;
  background:#ea065e;
  border:20px solid white;
  border-radius:30px;
}
#loading_moment_screen img {
  width:700px; box-sizing:border-box;
  padding:10px;
}
#loading_moment_screen p {
  font-size:60px; font-weight: bold;
}

/* 로고 영역 레이아웃 지정 */
#logo_area {
  visibility:hidden;
  position:absolute; top:0px; left:0px;
  width:200px; height:80px;
}
#logo_area #vaskit_logo {
  visibility:visible;
  margin:25px 20px 25px 20px;
  width:160px; height:auto;
}

/* 메뉴 버튼 영역 지정 */
#menu_btn {
  visibility:hidden;
  color:#fff; font-size:30px;
}
#menu_btn_box {
  position:absolute; top:0px; right:0px;
  width:50px; height:40px;
  padding-top:10px;
  text-align:center;
  opacity:1;
  transition:all 0.3s ease-in-out 0s;
}
#menu_btn_box_close {
  position:absolute; top:0px; right:0px;
  width:50px; height:40px;
  padding-top:10px;
  text-align:center;
  opacity:0;
  transition:all 0.3s ease-in-out 0s;
  transform:scale(0.1);
}
#menu_btn_box.menu_opened {
  opacity:0;
  transform:scale(0.1) rotateZ(90deg);
}
#menu_btn_box_close.menu_opened {
  opacity:1; z-index:10;
  transform:scale(1) rotateZ(-180deg);
}

/* 메뉴 버튼 리스트 영역 지정 */
#menu_btn_list {
  position:absolute; top:80px; left:0px;
  width:200px; height:auto;
}
#menu_btn_list ul li {
  padding:20px;
}
#menu_btn_list .menuList {
  color:#fff; font-size:18px;
}
#menu_btn_list .menuList i {
  vertical-align:text-top; font-size:8px;
}
#menu_btn_list .menuList i.fa-external-link {
  vertical-align:baseline; font-size:14px;
}
#menu_btn_list .menuListDesc {
  color:#fff; font-size:11px;
  margin-left:10px;
  opacity:0.2;
  transition:all 0.5s ease 0s;
}
#menu_btn_list ul li:hover {
  background:#998674;
}
#menu_btn_list ul li:hover .menuList {
  color:#ee6e01;
  text-shadow:2px 2px 2px #a9540c;
}
#menu_btn_list ul li:hover .menuListDesc {
  opacity:1;
  margin-left:25px;
}
#menu_btn_list ul a.screen_on li {
  background:#998674;
}
#menu_btn_list ul a.screen_on li .menuList {
  color:#ee6e01;
  text-shadow:2px 2px 2px #a9540c;
}
#menu_btn_list ul a.screen_on li .menuListDesc {
  opacity:1;
  margin-left:25px;
}


/* VASKIT 버튼 영역 지정 */
#vaskit_btn_area {
  background:#383838;
  position:fixed; bottom:0px; left:0px;
  width:200px; height:120px; z-index:11;
  text-align:center;
  transition:all 0.5s ease-in-out 0s;
  z-index:12;
}
#vaskit_btn_area p {
  margin-top:20px;
  color:#fff;
}
#vaskit_btn_area p i.emoji {
  position:relative;
  color:#fff;
  animation:emoji 2s ease-out infinite;
}
@keyframes emoji {
  0% { bottom:0px; left:0px; transform:rotateY(0deg); }
  30% { bottom:15px; left:0px; transform:rotateY(180deg); }
  40% { bottom:0px; left:0px; transform:rotateY(180deg); }
  100% { bottom:0px; left:0px; transform:rotateY(180deg); }
}
#vaskit_btn_area a {
  visibility:hidden;
}
#vaskit_btn {
  visibility:visible;
  position:relative; top:12px; left:10px;
  padding:10px;
  width:160px; height:20px;
  background-color:#ee6e01;
  border:0.5px solid #c4600c;
  border-radius:7px;
  box-shadow:0px 6px 0px #a9540c;
  font-size:18px; color:#fff; text-align:center;
  transition:all 0.1s ease-in-out 0s;
}
#vaskit_btn:hover { top:15px; box-shadow:0px 3px 0px #a9540c; }
#vaskit_btn:active { box-shadow:0px 2px 200px white; }

/* 푸터 영역 레이아웃 지정 */
footer .wrapper a { color:#f4f4f4; }
footer .table_row {
  display:block; width:100%; clear:both;
}
footer .table_row:last-child {
  padding-top:22px;
}
footer .table_row .table_col {
  display:block; width:50%; float:left;
}
footer .table_row .table_col:nth-child(1) {
  text-align:left;
}
#contact li {
  margin-bottom:10px;
}
#sns p { margin-bottom:5px; }
#sns li { display:inline; }
#sns img { display:inline; width:32px; height:32px; float:right; margin-left:10px; }
